
<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-md-12">
    <button type="submit" (click)="companyPosition()" class="btn btn-sm btn-warning text-white">
      <i class="fa fa-edit"></i> Open Positions
    </button>
  </div>
  </div> -->
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <form [formGroup]="companyAddPosition" (ngSubmit)="save(companyAddPosition.valid, companyAddPosition.value)"
        #reset="ngForm">
        <div class="row">
          <div class="col-md-4">
            <label>Company Name</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
              </div>
              <input type="text" class="form-control" placeholder="Company Name" formControlName="companyName"
              [class.is-invalid] = "companyAddPosition.get('companyName').invalid && companyAddPosition.get('companyName').touched || companyAddPosition.get('companyName').status == 'INVALID' "
              [class.is-valid] = "companyAddPosition.get('companyName').valid">
  
            </div>
            <small class="text-danger"
              *ngIf="(companyAddPosition.controls['companyName'].dirty || submitted) && companyAddPosition.controls['companyName'].hasError('required')">
             * Company Name
              is required.</small>
            <small class="text-danger" *ngIf="companyAddPosition.controls['companyName'].invalid && companyAddPosition.get('companyName').touched 
             && companyAddPosition.controls['companyName'].hasError('required') == false">Required minimum or maximum between 2-20 characters</small>
          </div>
          <div class="col-md-4">
            <label>Number Of Open Positions</label>
            <div class="form-group input-group">
  
              <div class="input-group-prepend">
                <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
              </div>
              
              <input type="number" class="form-control" placeholder="No Of Open Postions" formControlName="noOpenPosn" min="0"
               [class.is-invalid] = "companyAddPosition.get('noOpenPosn').invalid && companyAddPosition.get('noOpenPosn').touched  || companyAddPosition.get('noOpenPosn').status == 'INVALID' "
              [class.is-valid] = "companyAddPosition.get('noOpenPosn').valid">
            </div>
            <small class="text-danger"
            *ngIf="(companyAddPosition.controls['noOpenPosn'].dirty || submitted) && companyAddPosition.controls['noOpenPosn'].hasError('required')">
           *Open Positions
            is required.</small>
          <small class="text-danger" *ngIf="companyAddPosition.controls['noOpenPosn'].invalid && companyAddPosition.get('noOpenPosn').touched 
           && companyAddPosition.controls['noOpenPosn'].hasError('required') == false">Required minimum or maximum 0-7 digits</small>
          </div>
  
          <div class="col-md-4">
            <label>Position Code</label>
            <div class="form-group input-group">
  
              <div class="input-group-prepend">
                <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
              </div>
              
              <input type="text" class="form-control" placeholder="Enter Position Code" formControlName="posnCode" 
               [class.is-invalid] = "companyAddPosition.get('posnCode').invalid && companyAddPosition.get('posnCode').touched"
              [class.is-valid] = "companyAddPosition.get('posnCode').valid">
            </div>
            <small class="text-danger"
            *ngIf="(companyAddPosition.controls['posnCode'].dirty || submitted) && companyAddPosition.controls['posnCode'].hasError('required')">
            *Position Code
            is required.</small>
          <small class="text-danger" *ngIf="companyAddPosition.controls['posnCode'].invalid && companyAddPosition.get('posnCode').touched 
           && companyAddPosition.controls['posnCode'].hasError('required') == false">Required minimum or maximum 3-7 charcters</small>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Position Type</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Enter Position Type"  formControlName="posnType">
            </div>
          </div>
        </div>
        <div class="accordian">
          <ngb-accordion #acc1="ngbAccordion">
            <ngb-panel id="toggle-1" title="Minimum Qualification(%)">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-md-6">
                  <label>Course Name</label>
                  <div class="form-group input-group">
                  <input type="text" class="form-control" placeholder="Enter Course Name"  formControlName="courseName">
                  </div>
                  </div>
                  <div class="col-md-6">
                  <label> Specialization</label>
                  <div class="form-group input-group">
                  <input type="text" class="form-control" placeholder="Enter Specialization"  formControlName="specialization">
                  </div>
                  </div>
                  </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          </div>
<div class="row">
  <div class="col-md-12">
    <label>Gender </label><br>
    <div class="custom-control custom-radio custom-control-inline">
      <input id="male" type="radio" checked class="custom-control-input" value="1" name="gender"
        formControlName="gender">
      <label class="custom-control-label" for="male">Male</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input id="female" type="radio" class="custom-control-input" value="0" name="gender"
        formControlName="gender">
      <label class="custom-control-label" for="female">Female</label>
    </div>
  </div>
</div>

<div class="accordian">
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="Attendance Percentage(%)">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-6">
        <label>Current Semester</label>
        <div class="form-group input-group">
        <input type="number" class="form-control" placeholder=""  formControlName="CurSem">
        </div>
        </div>
        <div class="col-md-6">
        <label>Last Semester</label>
        <div class="form-group input-group">
        <input type="number" class="form-control" placeholder=""  formControlName="LastSem">
        </div>
        </div>
        </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2" title="Passing Year">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-6">
          <label>To Year</label>
          <div class="form-group input-group">
            <select class="form-control" type="number" formControlName="to" placeholder="Enter Year">
              <option *ngFor="let year of years" >{{year}}</option>
          </select>
            <!-- <input type="text" class="form-control" placeholder="Enter Company Established Year" formControlName="establishedYear"
            [class.is-invalid] = "companyAddPosition.get('establishedYear').invalid && companyAddPosition.get('establishedYear').touched || companyAddPosition.get('establishedYear').status == 'INVALID'"
            [class.is-valid] = "companyAddPosition.get('establishedYear').valid"> -->
          </div>
          <!-- <small class="text-danger" *ngIf="companyAddPosition.controls['industryType'].invalid && companyAddPosition.get('industryType').value == true 
          && companyAddPosition.controls['industryType'].hasError('required') == false">Not allowed 20 character as input</small> -->
        </div>
        <div class="col-md-6">
          <label>From Year</label>
          <div class="form-group input-group">
            <select class="form-control" type="number" formControlName="from" placeholder="Enter Established Year">
              <option *ngFor="let year of years" >{{year}}</option>
          </select>
            <!-- <input type="text" class="form-control" placeholder="Enter Company Established Year" formControlName="establishedYear"
            [class.is-invalid] = "companyAddPosition.get('establishedYear').invalid && companyAddPosition.get('establishedYear').touched || companyAddPosition.get('establishedYear').status == 'INVALID'"
            [class.is-valid] = "companyAddPosition.get('establishedYear').valid"> -->
          </div>
          <!-- <small class="text-danger" *ngIf="companyAddPosition.controls['industryType'].invalid && companyAddPosition.get('industryType').value == true 
          && companyAddPosition.controls['industryType'].hasError('required') == false">Not allowed 20 character as input</small> -->
        </div>
      </div>
    </ng-template>
  </ngb-panel>
 
</ngb-accordion>
</div>

        <div class="row">
          <div class="col-md-6">
            <label>Gap Acceptable</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Yes Or No" formControlName="gapAcceptable" 
              [class.is-invalid] = "companyAddPosition.get('gapAcceptable').invalid && companyAddPosition.get('gapAcceptable').touched || companyAddPosition.get('gapAcceptable').status == 'INVALID' "
              [class.is-valid] = "companyAddPosition.get('gapAcceptable').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['gapAcceptable'].invalid && companyAddPosition.get('gapAcceptable').touched 
            && companyAddPosition.controls['gapAcceptable'].hasError('required') == false">Not allowed 20 character as input</small>
          </div>
          <div class="col-md-6">
            <label>10th Percentage</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Enter Percentage(%)" formControlName="tenGPA"
              [class.is-invalid] = "companyAddPosition.get('tenGPA').invalid && companyAddPosition.get('tenGPA').touched || companyAddPosition.get('tenGPA').status == 'INVALID'"
              [class.is-valid] = "companyAddPosition.get('tenGPA').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['tenGPA'].invalid && companyAddPosition.get('tenGPA').value == true 
            && companyAddPosition.controls['tenGPA'].hasError('required') == false">Required minimum or maximum 2-7 digits</small>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>12th Percentage(%)</label>
            <div class="form-group input-group">
              <input type="number" class="form-control" placeholder="Enter Percentage(%)" formControlName="twelfthGPA" 
              [class.is-invalid] = "companyAddPosition.get('twelfthGPA').invalid && companyAddPosition.get('twelfthGPA').touched || companyAddPosition.get('twelfthGPA').status == 'INVALID' "
              [class.is-valid] = "companyAddPosition.get('twelfthGPA').valid">
            </div>
          </div>
          <div class="col-md-4">
            <label>Graduation Percentage(%)</label>
            <div class="form-group input-group">
              <input type="number" class="form-control" placeholder="Enter Percentage(%)" formControlName="gradGPA" 
              [class.is-invalid] = "companyAddPosition.get('gradGPA').invalid && companyAddPosition.get('gradGPA').touched || companyAddPosition.get('gradGPA').status == 'INVALID' "
              [class.is-valid] = "companyAddPosition.get('gradGPA').valid">
            </div>
          </div>
          <div class="col-md-4">
            <label>Post Graduation Percentage(%)</label>
            <div class="form-group input-group">
              <input type="number" class="form-control" placeholder="Enter Percentage(%)" formControlName="postGradGPA" 
              [class.is-invalid] = "companyAddPosition.get('postGradGPA').invalid && companyAddPosition.get('postGradGPA').touched || companyAddPosition.get('postGradGPA').status == 'INVALID' "
              [class.is-valid] = "companyAddPosition.get('postGradGPA').valid">
            </div>
          </div>
        </div>

        <label>Competitive Score</label>
        <mat-card>
<div class="row">
  <div class="col-md-6">
    <label>Site Name</label>
    <div class="form-group input-group">
      <input type="text" class="form-control" placeholder="Enter Site Name"  formControlName="siteName">
    </div>
  </div>
  <div class="col-md-6">
    <label>Score Ranking</label>
    <div class="form-group input-group">
      <input type="text" class="form-control" placeholder="Enter Ranking"  formControlName="scoreRanking">
    </div>
  </div>
</div></mat-card>

        <div class="row">
          <div class="col-md-6">
            <label>Job URL </label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="Enter Job URL" formControlName="jobURL"
              [class.is-invalid] = "companyAddPosition.get('jobURL').invalid && companyAddPosition.get('jobURL').touched || companyAddPosition.get('jobURL').status == 'INVALID'"
              [class.is-valid] = "companyAddPosition.get('jobURL').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['jobURL'].invalid && companyAddPosition.get('jobURL').touched 
            && companyAddPosition.controls['jobURL'].hasError('required') == false">Required minimum or maximum between 2-20 characters</small>
          </div>
          <div class="col-md-6">
            <label>Job Title</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="Enter Job Title" formControlName="jobTitle"
              [class.is-invalid] = "companyAddPosition.get('jobTitle').invalid && companyAddPosition.get('jobTitle').touched || companyAddPosition.get('jobTitle').status == 'INVALID'"
              [class.is-valid] = "companyAddPosition.get('jobTitle').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['jobTitle'].invalid && companyAddPosition.get('jobTitle').touched 
            && companyAddPosition.controls['jobTitle'].hasError('required') == false">Required minimum or maximum between 2-20 characters</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Job Location 1</label>
            <div class="form-group input-group">

              <input type="text" class="form-control" placeholder="Job Location 1" formControlName="jobLocation_1"
                [class.is-invalid]="companyAddPosition.get('jobLocation_1').invalid && companyAddPosition.get('jobLocation_1').touched || companyAddPosition.get('jobLocation_1').status == 'INVALID'"
                [class.is-valid]="companyAddPosition.get('jobLocation_1').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['jobLocation_1'].invalid && companyAddPosition.get('jobLocation_1').touched 
        && companyAddPosition.controls['jobLocation_1'].hasError('required') == false">Job Location should be between
              4-30 characters</small>
          </div>
          <div class="col-md-4">
            <label>Job Location 2</label>
            <div class="form-group input-group">

              <input type="text" class="form-control" placeholder="Job Location 2" formControlName="jobLocation_2"
                [class.is-invalid]="companyAddPosition.get('jobLocation_2').invalid && companyAddPosition.get('jobLocation_2').touched || companyAddPosition.get('jobLocation_2').status == 'INVALID'"
                [class.is-valid]="companyAddPosition.get('jobLocation_2').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['jobLocation_2'].invalid && companyAddPosition.get('jobLocation_2').touched 
        && companyAddPosition.controls['jobLocation_2'].hasError('required') == false">Job Location should be between
              4-30 characters</small>
          </div>

          <div class="col-md-4">
            <label>Job Location 3</label>
            <div class="form-group input-group">


              <input type="text" class="form-control" placeholder="Job Location 3" formControlName="jobLocation_3"
                [class.is-invalid]="companyAddPosition.get('jobLocation_3').invalid && companyAddPosition.get('jobLocation_3').touched || companyAddPosition.get('jobLocation_3').status == 'INVALID'"
                [class.is-valid]="companyAddPosition.get('jobLocation_3').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['jobLocation_3'].invalid && companyAddPosition.get('jobLocation_3').touched 
        && companyAddPosition.controls['jobLocation_3'].hasError('required') == false">Job Location should be between
              4-30 characters</small>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Job Profile</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="Enter Job Profile" formControlName="jobProfile"
              [class.is-invalid] = "companyAddPosition.get('jobProfile').invalid && companyAddPosition.get('jobProfile').touched || companyAddPosition.get('jobProfile').status == 'INVALID'"
              [class.is-valid] = "companyAddPosition.get('jobProfile').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['jobProfile'].invalid && companyAddPosition.get('jobProfile').touched 
            && companyAddPosition.controls['jobProfile'].hasError('required') == false">Required minimum 2-20 characters</small>
          </div>
          <div class="col-md-6">
            <label>Skill Requirement Id</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="Enter Skill Requirement ID" formControlName="skillReqd"
              [class.is-invalid] = "companyAddPosition.get('skillReqd').invalid && companyAddPosition.get('skillReqd').touched || companyAddPosition.get('skillReqd').status == 'INVALID'"
              [class.is-valid] = "companyAddPosition.get('skillReqd').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['skillReqd'].invalid && companyAddPosition.get('skillReqd').touched 
            && companyAddPosition.controls['skillReqd'].hasError('required') == false">Required minimum or maximum between 2-20 characters</small>
          </div>
        </div>
     
        <div class="accordian">
          <ngb-accordion #selectionProcess="ngbAccordion">
            <ngb-panel id="toggle-1" title="Selection Process">
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-md-4">
                  <label>Step 1</label>
                  <div class="form-group input-group">
                  <input type="text" class="form-control" placeholder="Step 1"  formControlName="step1">
                  </div>
                  </div>
                  <div class="col-md-4">
                  <label>Step 2</label>
                  <div class="form-group input-group">
                  <input type="email" class="form-control" placeholder="Step 2"  formControlName="step2">
                  </div>
                  </div>
                  <div class="col-md-4">
                    <label>Step 3</label>
                    <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Step 3"  formControlName="step3">
                    </div>
                    </div>
                    <div class="col-md-6">
                      <label>Step 4</label>
                      <div class="form-group input-group">
                      <input type="text" class="form-control" placeholder="Step 4"  formControlName="step4">
                      </div>
                      </div>
                      <div class="col-md-6">
                        <label>Step 5</label>
                        <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Step 5"  formControlName="step5">
                        </div>
                        </div>
                  </div>
              </ng-template>
            </ngb-panel>
          
           
          </ngb-accordion>
          </div>

        <div class="row">
          <div class="col-md-6">
            <label>Request From Students</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="" formControlName="reqFmStudents" 
              [class.is-invalid] = "companyAddPosition.get('reqFmStudents').invalid && companyAddPosition.get('reqFmStudents').touched || companyAddPosition.get('reqFmStudents').status == 'INVALID' "
              [class.is-valid] = "companyAddPosition.get('reqFmStudents').valid">
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['reqFmStudents'].invalid && companyAddPosition.get('reqFmStudents').touched 
            && companyAddPosition.controls['reqFmStudents'].hasError('required') == false">Not allowed 20 character as input</small>
          </div>
          <div class="col-md-6">
            <label>Term & Conditions</label>
            <div class="form-group input-group">
              <textarea type="text" class="form-control" placeholder="" formControlName="termCondition"
              [class.is-invalid] = "companyAddPosition.get('termCondition').invalid && companyAddPosition.get('termCondition').touched || companyAddPosition.get('termCondition').status == 'INVALID'"
              [class.is-valid] = "companyAddPosition.get('termCondition').valid"></textarea>
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['reqFmStudents'].invalid && companyAddPosition.get('reqFmStudents').value == true 
            && companyAddPosition.controls['reqFmStudents'].hasError('required') == false">Not allowed 20 character as input</small>
          </div>
          <div class="col-md-12">
            <label>Other Instructions</label>
            <div class="form-group input-group">
              <textarea type="text" class="form-control" placeholder="" formControlName="otherInstructions"
              [class.is-invalid] = "companyAddPosition.get('otherInstructions').invalid && companyAddPosition.get('otherInstructions').touched || companyAddPosition.get('otherInstructions').status == 'INVALID'"
              [class.is-valid] = "companyAddPosition.get('otherInstructions').valid"></textarea>
            </div>
            <small class="text-danger" *ngIf="companyAddPosition.controls['otherInstructions'].invalid && companyAddPosition.get('otherInstructions').value == true 
            && companyAddPosition.controls['otherInstructions'].hasError('required') == false">Not allowed 20 character as input</small>
            <!-- <button type="save" [disabled]="companyAddPosition.valid == false" class="btn btn-sm btn-success pull-right">
              <i class="fa fa-get-pocket"></i> submit
            </button> -->
          </div>
        </div>
        <label>CTC Offer</label>
        <mat-card>
<div class="row">
  <div class="col-md-6">
    <label>CTC</label>
    <div class="form-group input-group">
      <input type="text" class="form-control" placeholder="Enter CTC"  formControlName="CTC">
    </div>
  </div>
  <div class="col-md-6">
    <label>Monthly</label>
    <div class="form-group input-group">
      <input type="number" class="form-control" placeholder="Enter Monthly CTC"  formControlName="monthly">
    </div>
  </div>
</div></mat-card>
<label>Bond</label>
<mat-card>
<div class="row">
<div class="col-md-6">
<label>Bond Yn</label>
<div class="form-group input-group">
<input type="number" class="form-control" placeholder="Enter Bond"  formControlName="bondYN" max="1" min="0">
</div>
</div>
<div class="col-md-6">
<label>Bond Detail</label>
<div class="form-group input-group">
<input type="text" class="form-control" placeholder="Enter Bond Detail"  formControlName="bondDetail">
</div>
</div>
</div></mat-card>
<div class="row">
  <div class="col-md-6">
    <label>Reporting Date & Time </label>
    <div class="form-group input-group">
      
      <input type="text" class="form-control" placeholder="Enter Reporting Date & Time" formControlName="reportingDateTime"
      [class.is-invalid] = "companyAddPosition.get('reportingDateTime').invalid && companyAddPosition.get('reportingDateTime').touched || companyAddPosition.get('reportingDateTime').status == 'INVALID'"
      [class.is-valid] = "companyAddPosition.get('reportingDateTime').valid">
    </div>
    <small class="text-danger" *ngIf="companyAddPosition.controls['reportingDateTime'].invalid && companyAddPosition.get('reportingDateTime').touched 
    && companyAddPosition.controls['reportingDateTime'].hasError('required') == false">Required minimum or maximum between 2-20 characters</small>
  </div>
  <div class="col-md-6">
    <label>Reporting Location</label>
    <div class="form-group input-group">
      
      <input type="text" class="form-control" placeholder="Enter Reporting Location" formControlName="reportingLocation"
      [class.is-invalid] = "companyAddPosition.get('reportingLocation').invalid && companyAddPosition.get('reportingLocation').touched || companyAddPosition.get('reportingLocation').status == 'INVALID'"
      [class.is-valid] = "companyAddPosition.get('reportingLocation').valid">
    </div>
    <small class="text-danger" *ngIf="companyAddPosition.controls['reportingLocation'].invalid && companyAddPosition.get('reportingLocation').touched 
    && companyAddPosition.controls['reportingLocation'].hasError('required') == false">Required minimum or maximum between 2-20 characters</small>
  </div>
</div>
<label>Position Status</label>
<mat-card>
<div class="row">
<div class="col-md-4">
<label>Status</label>
<div class="form-group input-group">
<input type="text" class="form-control" placeholder="Enter Status"  formControlName="Status">
</div>
</div>
<div class="col-md-4">
  <label>Date Of Birth</label>
  <div class="form-group">
    <div class="input-group datepicker-input">
      <input class="form-control" placeholder="yyyy-mm-dd"  name="dp"
        formControlName="StartDate" ngbDatepicker #d="ngbDatepicker"
        [class.is-invalid]="companyAddPosition.get('StartDate').invalid && companyAddPosition.get('StartDate').touched || companyAddPosition.get('StartDate').status == 'INVALID' "
        [class.is-valid]="companyAddPosition.get('StartDate').valid">
      <button class="input-group-addon" (click)="d.toggle()" type="button">
        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
        <span class="fa fa-calendar"></span>
      </button>
    </div>
  </div>
</div>
<div class="col-md-4">
  <label>End Date</label>
  <div class="form-group">
    <div class="input-group datepicker-input">
      <input class="form-control" placeholder="yyyy-mm-dd"  name="dp"
        formControlName="EndDate" ngbDatepicker #d1="ngbDatepicker"
        [class.is-invalid]="companyAddPosition.get('EndDate').invalid && companyAddPosition.get('EndDate').touched || companyAddPosition.get('EndDate').status == 'INVALID' "
        [class.is-valid]="companyAddPosition.get('EndDate').valid">
      <button class="input-group-addon" (click)="d1.toggle()" type="button">
        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
        <span class="fa fa-calendar"></span>
      </button>
    </div>
  </div>
</div>
</div></mat-card>
<div class="row d-flex flex-row-reverse">
   <button type="save" [disabled]="companyAddPosition.valid == false" class="btn btn-sm btn-success pull-right">
              <i class="fa fa-get-pocket"></i> submit
            </button>
          </div>
      </form>
         
      </mat-card>
      </div>
      </div>
      </div>
