.container-fluid{
    // margin-left: 15%;
    padding-top: 3%;
    // margin-right:15%;
    // width:900px;
}
.mat-card{
    border: solid #c6cad1 1px;
    // margin-top: 1%;
    margin-bottom:1%;
}
.btn{
    margin:10px;

}
.modal{
    width:900px;
}
label  {
    font-family: 'Inter var',sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333;
}
.form-control {
    font-family: 'Inter var',sans-serif;
    box-shadow: none;
    padding: 11px;
    background: #fff;
    color: #484848;
    border: 1px solid #DDD;
    border-radius: 0px;
    font-size: 14px;
    height: 40px;
    line-height: 1.14285714;
    font-weight: 100;

}
.radio-inline{
    margin:10px;
}

  mat-form-field {
    width: 100%;
    border-bottom: none;
    border:0px;
  }

  .mat-form-field-infix {
    border: 0px;
}
table th
{
    // text-align: center;
    align-items: center;
    font-family: 'Inter var',sans-serif;
    font-weight: 350;
    font-size: 1rem;
    color: #333;
}
.mat-input-element {
    font-weight: 100;
    text-transform:capitalize;
}
input.ng-invalid.ng-touched{
    border-color:red;
}
.mat-error{
    font-size:0.7rem;
}

.custom-class {
    width: 900px;
}

.accordian{
    padding-top:1%;
    padding-bottom:1%;
}
// 360 640
// @media screen and (max-width: 360px) {
//     .main-content {
//     width:100%;
//     margin-left:0%;
//     }
//   }