<app-header></app-header>
<h1>khs</h1>
<ngx-spinner></ngx-spinner>
<div class="container-fluid">
  <div class="row">
<div class="col-md-12 mt-3">
<i class="fa fa-long-arrow-left" style="font-size: large;" aria-hidden="true" (click)="back()">&nbsp; Back</i>
</div>
    <div class="col-md-12 mt-3">
    <button type="submit" (click)="addPositions()" class="btn btn-sm btn-info text-white">
      <i class="fa fa-plus-circle"></i> add position
    </button>
  </div>
</div>
<!-- <div class="card"> -->

<table class="table table-hover table-striped mt-4">
  <thead>
    <tr>
      <th scope="cols" colspan="6">
        <!-- <form> -->
          <div class="form-group form-inline">
               Search: <input class="form-control" type="text" [formControl]="filter" (keyup)="searchTable($event.target.value)" />
          </div>
        <!-- </form> -->
      </th>
    </tr>
    </thead>
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Company Name</th>
    <th scope="col">No Of Open Positions</th>
    <th scope="col">Position Type</th>
    <th scope="col">Position Code</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of companyData; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>
      {{ company.companyName }}
    </td>
    <td>{{ company.noOpenPosn }}</td>
    <td>{{ company.posnType }}</td>
    <td>{{ company.posnCode  }}</td>
<td><a class="badge" (click)="editPositions(company)"><h5><i class="fa fa-edit" style="color:green;"></i></h5></a>
  <a class="badge" (click)="deletePositions(company._id)"><h5><i class="fa fa-trash" style="color:red;"></i></h5></a>
</td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getAllPositions()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getAllPositions()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
</div>