<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <mat-card>
        <form [formGroup]="stuProfileForm" (ngSubmit)="save(stuProfileForm.valid, stuProfileForm.value)"
          #reset="ngForm">
          <div class="row">
            <div class="col-md-4">
              <label>First Name</label>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="First Name" formControlName="fName"
                  [class.is-invalid]="stuProfileForm.get('fName').invalid && stuProfileForm.get('fName').touched || stuProfileForm.get('fName').status == 'INVALID' "
                  [class.is-valid]="stuProfileForm.get('fName').valid">

              </div>
              <small class="text-danger"
                *ngIf="(stuProfileForm.controls['fName'].dirty || submitted) && stuProfileForm.controls['fName'].hasError('required')">
                First Name
                is required.</small>
              <small class="text-danger" *ngIf="stuProfileForm.controls['fName'].invalid && stuProfileForm.get('fName').touched 
           && stuProfileForm.controls['fName'].hasError('required') == false">Name should be 4 character long</small>
            </div>
            <div class="col-md-4">
              <label>Middle Name</label>
              <div class="form-group input-group">

                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>

                <input type="text" class="form-control" placeholder="Middle Name" formControlName="mName"
                  [class.is-invalid]="stuProfileForm.get('mName').invalid && stuProfileForm.get('mName').touched  || stuProfileForm.get('mName').status == 'INVALID' "
                  [class.is-valid]="stuProfileForm.get('mName').valid">
              </div>
              <small class="text-danger"
                *ngIf="(stuProfileForm.controls['mName'].dirty || submitted) && stuProfileForm.controls['mName'].hasError('required')">
                Middlename
                is required.</small>
              <small class="text-danger" *ngIf="stuProfileForm.controls['mName'].invalid && stuProfileForm.get('mName').touched 
         && stuProfileForm.controls['mName'].hasError('required') == false">Middlename required minimum 4
                characters</small>
            </div>

            <div class="col-md-4">
              <label>Last Name</label>
              <div class="form-group input-group">

                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>

                <input type="text" class="form-control" placeholder="Last Name" formControlName="lName"
                  [class.is-invalid]="stuProfileForm.get('lName').invalid && stuProfileForm.get('lName').touched"
                  [class.is-valid]="stuProfileForm.get('lName').valid">
              </div>
              <small class="text-danger"
                *ngIf="(stuProfileForm.controls['lName'].dirty || submitted) && stuProfileForm.controls['lName'].hasError('required')">
                Last Name
                is required.</small>
              <small class="text-danger" *ngIf="stuProfileForm.controls['lName'].invalid && stuProfileForm.get('lName').touched 
         && stuProfileForm.controls['lName'].hasError('required') == false">Lastname should be 4 character long</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Father's Name</label>
              <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Father's Name" formControlName="fatherName"
                  [class.is-invalid]="stuProfileForm.get('fatherName').invalid && stuProfileForm.get('fatherName').touched  || stuProfileForm.get('fatherName').status == 'INVALID' "
                  [class.is-valid]="stuProfileForm.get('fatherName').valid">
              </div>
              <small class="text-danger"
                *ngIf="(stuProfileForm.controls['fatherName'].dirty || submitted) && stuProfileForm.controls['fatherName'].hasError('required')">
                Middlename
                is required.</small>
              <small class="text-danger" *ngIf="stuProfileForm.controls['fatherName'].invalid && stuProfileForm.get('fatherName').touched 
         && stuProfileForm.controls['fatherName'].hasError('required') == false">Middlename should be 4 character
                long</small>
            </div>
            <div class="col-md-6">
              <label>Date Of Birth</label>

              <div class="form-group">
                <div class="input-group datepicker-input">
                  <input class="form-control" placeholder="yyyy-mm-dd" value="{{studentProfileObj.dob| date: 'yyyy-MM-dd'}}" name="dp"
                    formControlName="dob" ngbDatepicker #d="ngbDatepicker"
                    [class.is-invalid]="stuProfileForm.get('dob').invalid && stuProfileForm.get('dob').touched || stuProfileForm.get('dob').status == 'INVALID' "
                    [class.is-valid]="stuProfileForm.get('dob').valid">
                  <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                    <span class="fa fa-calendar"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <label>Religion</label>
              <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Enter Your Religion" formControlName="religion"
                  [class.is-invalid]="stuProfileForm.get('religion').invalid && stuProfileForm.get('religion').touched || stuProfileForm.get('religion').status == 'INVALID' "
                  [class.is-valid]="stuProfileForm.get('religion').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileForm.controls['religion'].invalid && stuProfileForm.get('religion').touched 
          && stuProfileForm.controls['religion'].hasError('required') == false">Not allowed 20 character as
                input</small>
            </div>
            <div class="col-md-6">
              <label>Caste</label>
              <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Enter Your Caste" formControlName="caste"
                  [class.is-invalid]="stuProfileForm.get('caste').invalid && stuProfileForm.get('caste').touched || stuProfileForm.get('caste').status == 'INVALID'"
                  [class.is-valid]="stuProfileForm.get('caste').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileForm.controls['caste'].invalid && stuProfileForm.get('caste').value == true 
          && stuProfileForm.controls['caste'].hasError('required') == false">Not allowed 20 character as input</small>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <label>Email Address</label>
              <div class="form-group input-group">
                <input type="email" class="form-control" placeholder="john@example.com"
                  value={{studentProfileObj.email}} readonly>
              </div>
            </div>
            <div class="col-md-6">
              <label>Gender </label>
              <div class="custom-control custom-radio">
                <input id="male" type="radio" class="custom-control-input" value="male" name="gender"
                  formControlName="gender">
                <label class="custom-control-label" for="male">Male</label>
              </div>

              <div class="custom-control custom-radio">
                <input id="female" type="radio" class="custom-control-input" value="female" name="gender"
                  formControlName="gender">
                <label class="custom-control-label" for="female">Female</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Contact No.</label>
              <div class="form-group input-group">
                <!-- <input type="text" class="form-control" placeholder="Enter Contact No." formControlName="mobile"> -->
                <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.India" [maxLength]="10" [tooltipField]="TooltipLabel.Name"
                  [phoneValidation]="true" [separateDialCode]="separateDialCode" name="mobile" formControlName="mobile"
                  class="form-control">
                </ngx-intl-tel-input>
              </div>
              <!-- <p  *ngIf="(stuProfileForm.controls['mobile'].dirty || submitted) && stuProfileForm.controls['mobile'].hasError('required')">Contact No.
                        is required.</p> -->
            </div>
            <div class="col-md-6">
              <label>Father's Contact No.</label>
              <div class="form-group input-group">
                <!-- <input type="text" class="form-control" placeholder="Enter Contact No." formControlName="mobile"> -->
                <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.India" [maxLength]="10" [tooltipField]="TooltipLabel.Name"
                  [phoneValidation]="true" [separateDialCode]="separateDialCode" name="mobile"
                  formControlName="fatherMobile" class="form-control">
                </ngx-intl-tel-input>
              </div>
              <!-- <p  *ngIf="(stuProfileForm.controls['mobile'].dirty || submitted) && stuProfileForm.controls['mobile'].hasError('required')">Contact No.
                        is required.</p> -->

              <!-- <button type="save" [disabled]="stuProfileForm.valid == false" class="btn btn-sm btn-success pull-right">
                          <i class="fa fa-get-pocket"></i> submit
                        </button> -->
              <!-- <button type="save" class="btn btn-warning pull-right">Reset</button> -->
            </div>
            <div class="col-md-12">
              <label>Any Other Detail</label>
              <div class="form-group input-group">
                <textarea  type= "text" class="form-control" rows="20" placeholder="Add Any Other Detail"
                  formControlName="anyOtherDetail"
                  [class.is-invalid]="stuProfileForm.get('anyOtherDetail').invalid && stuProfileForm.get('anyOtherDetail').touched || stuProfileForm.get('anyOtherDetail').status == 'INVALID'"
                  [class.is-valid]="stuProfileForm.get('anyOtherDetail').valid"></textarea>
              </div>
              <small class="text-danger" *ngIf="stuProfileForm.controls['anyOtherDetail'].invalid && stuProfileForm.get('anyOtherDetail').touched 
          && stuProfileForm.controls['anyOtherDetail'].hasError('required') == false">Required minimum or maximum 2-50
                characters</small>
              <button type="save" [disabled]="stuProfileForm.valid == false" class="btn btn-sm btn-success pull-right">
                <i class="fa fa-get-pocket"></i> submit
              </button>
            </div>
          </div>
        </form>

      </mat-card>
      <mat-card>
        <form [formGroup]="stuProfileSection2"
          (ngSubmit)="saveSection2(stuProfileSection2.valid, stuProfileSection2.value)">
          Job Location Preference
          <div class="row">
            <div class="col-md-4">
              <label>Preference 1</label>
              <div class="form-group input-group">

                <input type="text" class="form-control" placeholder="Preference 1" formControlName="preference1"
                  [class.is-invalid]="stuProfileSection2.get('preference1').invalid && stuProfileSection2.get('preference1').touched || stuProfileSection2.get('preference1').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('preference1').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['preference1'].invalid && stuProfileSection2.get('preference1').touched 
          && stuProfileSection2.controls['preference1'].hasError('required') == false">Preference should be between
                4-30 characters</small>
            </div>
            <div class="col-md-4">
              <label>Preference 2</label>
              <div class="form-group input-group">

                <input type="text" class="form-control" placeholder="Preference 2" formControlName="preference2"
                  [class.is-invalid]="stuProfileSection2.get('preference2').invalid && stuProfileSection2.get('preference2').touched || stuProfileSection2.get('preference2').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('preference2').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['preference2'].invalid && stuProfileSection2.get('preference2').touched 
          && stuProfileSection2.controls['preference2'].hasError('required') == false">Preference should be between
                4-30 characters</small>
            </div>

            <div class="col-md-4">
              <label>Preference 3</label>
              <div class="form-group input-group">


                <input type="text" class="form-control" placeholder="Preference 3" formControlName="preference3"
                  [class.is-invalid]="stuProfileSection2.get('preference3').invalid && stuProfileSection2.get('preference3').touched || stuProfileSection2.get('preference3').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('preference3').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['preference3'].invalid && stuProfileSection2.get('preference3').touched 
          && stuProfileSection2.controls['preference3'].hasError('required') == false">Preference should be between
                4-30 characters</small>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Address 1</label>
              <div class="form-group input-group">

                <input type="text" class="form-control" placeholder="Address 1" formControlName="address1"
                  [class.is-invalid]="stuProfileSection2.get('address1').invalid && stuProfileSection2.get('address1').touched || stuProfileSection2.get('address1').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('address1').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['address1'].invalid && stuProfileSection2.get('address1').touched 
          && stuProfileSection2.controls['address1'].hasError('required') == false">Address should be between 6-30
                characters</small>
            </div>
            <div class="col-md-6">
              <label>Address 2</label>
              <div class="form-group input-group">

                <input type="text" class="form-control" placeholder="Address 2" formControlName="address2"
                  [class.is-invalid]="stuProfileSection2.get('address2').invalid && stuProfileSection2.get('address2').touched || stuProfileSection2.get('address2').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('address2').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['address2'].invalid && stuProfileSection2.get('address2').touched 
          && stuProfileSection2.controls['address2'].hasError('required') == false">Address should be between 6-30
                characters</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Country</label>
              <div class="form-group input-group">

                <input type="text" class="form-control" placeholder="Country Name" formControlName="countryName"
                  [class.is-invalid]="stuProfileSection2.get('countryName').invalid && stuProfileSection2.get('countryName').touched || stuProfileSection2.get('countryName').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('countryName').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['countryName'].invalid && stuProfileSection2.get('countryName').touched 
          && stuProfileSection2.controls['countryName'].hasError('required') == false">Country name should be between
                2-10 characters</small>
            </div>
            <div class="col-md-4">
              <label>State</label>
              <div class="form-group input-group">

                <input type="text" class="form-control" placeholder="State Name" formControlName="stateName"
                  [class.is-invalid]="stuProfileSection2.get('stateName').invalid && stuProfileSection2.get('stateName').touched || stuProfileSection2.get('stateName').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('stateName').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['stateName'].invalid && stuProfileSection2.get('stateName').touched 
          && stuProfileSection2.controls['stateName'].hasError('required') == false">State name should be between 2-20
                characters</small>
            </div>
            <div class="col-md-4">
              <label>City Name</label>
              <div class="form-group input-group">

                <input type="text" class="form-control" placeholder="City Name" formControlName="cityName"
                  [class.is-invalid]="stuProfileSection2.get('cityName').invalid && stuProfileSection2.get('cityName').touched || stuProfileSection2.get('cityName').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('cityName').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['cityName'].invalid && stuProfileSection2.get('cityName').touched 
          && stuProfileSection2.controls['cityName'].hasError('required') == false">City name should be between 2-20
                characters</small>
            </div>

            <div class="col-md-6">
              <label>Zip Code*</label>
              <div class="form-group input-group">


                <input type="number" class="form-control" placeholder="e.g. 000012" formControlName="zipCode"
                  [class.is-invalid]="stuProfileSection2.get('zipCode').invalid && stuProfileSection2.get('zipCode').touched || stuProfileSection2.get('zipCode').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('zipCode').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['zipCode'].invalid && stuProfileSection2.get('zipCode').touched 
          && stuProfileSection2.controls['zipCode'].hasError('required') == false">ZipCode should be between 6-10
                characters</small>
            </div>
            <div class="col-md-6">
              <label>Upload CV </label>
              <div class="form-group input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" multiple formControlName="importFile" id="importFile"
                    (change)="onFileChange($event.target.files)" (change)="fileselected($event)">
                  <label style="font-size:80%;" class="custom-file-label" #labelImport for="importFile"><i
                      class="fas fa-search"></i> Choose file</label>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <label>Gap In Education</label>
              <div class="form-group input-group">


                <input type="text" class="form-control" placeholder="Gap time and reason" formControlName="gapAny"
                  [class.is-invalid]="stuProfileSection2.get('gapAny').invalid && stuProfileSection2.get('gapAny').touched || stuProfileSection2.get('gapAny').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('gapAny').valid">
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['gapAny'].invalid && stuProfileSection2.get('gapAny').touched 
            && stuProfileSection2.controls['gapAny'].hasError('required') == false">Required minimum or maximum 2-50
                character</small>

            </div>
            <div class="col-md-6">
              <label>Any Other Detail</label>
              <div class="form-group input-group">


                <textarea type="text" class="form-control" placeholder="Add Any Other Detail"
                  formControlName="anyOtherDetail"
                  [class.is-invalid]="stuProfileSection2.get('anyOtherDetail').invalid && stuProfileSection2.get('anyOtherDetail').touched || stuProfileSection2.get('anyOtherDetail').status == 'INVALID'"
                  [class.is-valid]="stuProfileSection2.get('anyOtherDetail').valid"></textarea>
              </div>
              <small class="text-danger" *ngIf="stuProfileSection2.controls['anyOtherDetail'].invalid && stuProfileSection2.get('anyOtherDetail').touched 
            && stuProfileSection2.controls['anyOtherDetail'].hasError('required') == false">Required minimum or maximum
                2-50 character</small>
              <button type="saveSection2" [disabled]="stuProfileSection2.valid == false"
                class="btn btn-sm btn-success pull-right">
                <i class="fa fa-get-pocket"></i> submit
              </button>
            </div>
          </div>
        </form>
      </mat-card>

      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="10th">
          <ng-template ngbPanelContent>

            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection3"
                  (ngSubmit)="saveSection3(stuProfileSection3.valid, stuProfileSection3.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Board</th>
                        <th>School Name</th>
                        <th>School Location</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" formControlName="tenBoard">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenBoard'].invalid">Board
                            name should be between 2-20 characters</mat-error>
                        </td>
                        <td>

                          <mat-form-field>
                            <input matInput type="text" formControlName="tenSchool">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenSchool'].invalid">School
                            name should be between 2-50 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="tenLocation">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenLocation'].invalid">
                            School location should be between 2-20 characters</mat-error>
                        </td>
                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="2">Passing Year *</th>
                        <th>Aggregate Percentage(%)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td colspan="2">
                          <mat-form-field>
                            <mat-select formControlName="tenPassYear">
                              <mat-option *ngIf="studentProfileObj.tenQual.tenPassYear"
                                [value]="studentProfileObj.tenQual.tenPassYear">
                                {{studentProfileObj.tenQual.tenPassYear}}</mat-option>
                              <mat-option *ngFor="let value of years" [value]="value">{{value}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </td>
                        <td>

                          <mat-form-field>
                            <input matInput type="number" formControlName="tenGPA">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenGPA'].invalid">
                            Percentage(%) should be between 2-7 characters</mat-error>

                        </td>
                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject 1</th>
                        <th>Subject 2</th>
                        <th>Subject 3 </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="tenSubject1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenSubject1'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="tenSubject2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenSubject2'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="tenSubject3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenSubject3'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject 4</th>
                        <th>Subject 5</th>
                        <th>Subject 6</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="tenSubject4">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenSubject4'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="tenSubject5">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenSubject5'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="tenSubject6">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['tenSubject6'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="3">Any Other Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan="3">
                        <mat-form-field>
                          <textarea matInput type="text" formControlName="anyOtherDetail"></textarea>
                        </mat-form-field>
                        <mat-error class="text-danger" *ngIf="stuProfileSection3.controls['anyOtherDetail'].invalid">
                          Required minimun 2 or maximum 50 characters</mat-error>
                      </td>
                    </tbody>
                  </table>
                  <button type="saveSection3" [disabled]="stuProfileSection3.valid == false"
                    class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-get-pocket"></i> submit
                  </button>
                </form>
              </div>
            </div>
          </ng-template>

        </ngb-panel>
        <ngb-panel id="toggle-3" title="12th">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection4"
                  (ngSubmit)="saveSection4(stuProfileSection4.valid, stuProfileSection4.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Board</th>
                        <th>School Name</th>
                        <th>School Location</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthBoard">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthBoard'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>

                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthSchool">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthSchool'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>

                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthLocation">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthLocation'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>

                        </td>
                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="2">Passing Year *</th>
                        <th>Aggregate Percentage(%)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td colspan="2">
                          <mat-form-field>
                            <mat-select formControlName="twelfthPassYear">
                              <mat-option *ngIf="studentProfileObj.twelfthQual.twelfthPassYear"
                                [value]="studentProfileObj.twelfthQual.twelfthPassYear">
                                {{studentProfileObj.twelfthQual.twelfthPassYear}}</mat-option>
                              <mat-option *ngFor="let value of years" [value]="value">{{value}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </td>
                        <td>

                          <mat-form-field>
                            <input matInput type="number" formControlName="twelfthGPA">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthGPA'].invalid">
                            Required minimun 2 or maximum 7 characters</mat-error>
                        </td>
                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject 1</th>
                        <th>Subject 2</th>
                        <th>Subject 3 </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthSubject1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthSubject1'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthSubject2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthSubject2'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthSubject3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthSubject3'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject 4</th>
                        <th>Subject 5</th>
                        <th>Subject 6</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthSubject4">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthSubject4'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthSubject5">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthSubject5'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="twelfthSubject6">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['twelfthSubject6'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="3">Any Other Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan="3">
                        <mat-form-field>
                          <textarea matInput type="text" formControlName="anyOtherDetail"></textarea>
                        </mat-form-field>
                        <mat-error class="text-danger" *ngIf="stuProfileSection4.controls['anyOtherDetail'].invalid">
                          Required minimun 2 or maximum 50 characters</mat-error>
                      </td>
                    </tbody>
                  </table>
                  <button type="saveSection4" [disabled]="stuProfileSection4.valid == false"
                    class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-get-pocket"></i> submit
                  </button>
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-4" title="Graduation">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection5"
                  (ngSubmit)="saveSection5(stuProfileSection5.valid, stuProfileSection5.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>University/Board</th>
                        <th>Passing Year*</th>
                        <th>College Name</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="gradBoard" appearance="none">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['gradBoard'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>

                        </td>
                        <td>

                          <mat-form-field>
                            <mat-select formControlName="gradPassYear">
                              <mat-option *ngIf="studentProfileObj.gradQual.gradPassYear"
                                [value]="studentProfileObj.gradQual.gradPassYear">
                                {{studentProfileObj.gradQual.gradPassYear}}</mat-option>
                              <mat-option *ngFor="let value of years" [value]="value">{{value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="gradCollege">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['gradCollege'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>

                        </td>
                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>College Location</th>
                        <th>Course Name</th>
                        <th>Course Specialization </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="gradLocation">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['gradLocation'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>

                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="gradCourseName">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['gradCourseName'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="gradSpecialization">
                          </mat-form-field>
                          <mat-error class="text-danger"
                            *ngIf="stuProfileSection5.controls['gradSpecialization'].invalid">Required minimun 2 or
                            maximum 20 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>

                        <th>Current Semester Percentage(%)</th>
                        <th>Semester 1 Percentage(%)</th>
                        <th>Semester 2 Percentage(%)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="current">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['current'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_1'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_2'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Semester 3 Percentage(%)</th>
                        <th>Semester 4 Percentage(%)</th>
                        <th>Semester 5 Percentage(%)</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_3'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_4">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_4'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_5">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_5'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Semester 6 Percentage(%)</th>
                        <th>Semester 7 Percentage(%)</th>
                        <th>Semester 8 Percentage(%)</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_6">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_6'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_7">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_7'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_8">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['sem_8'].invalid">Required
                            minimun 2 or maximum 7 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject1</th>
                        <th>Subject 2</th>
                        <th>Subject 3</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['subject1'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['subject2'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['subject3'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject4</th>
                        <th>Subject 5</th>
                        <th>Subject 6</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject4">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['subject4'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject5">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['subject5'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject6">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['subject6'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="3">Any Other Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan="3">
                        <mat-form-field>
                          <textarea matInput type="text" formControlName="anyOtherDetail"></textarea>
                        </mat-form-field>
                        <mat-error class="text-danger" *ngIf="stuProfileSection5.controls['anyOtherDetail'].invalid">
                          Required minimun 2 or maximum 50 characters</mat-error>
                      </td>
                    </tbody>
                  </table>
                  <button type="saveSection5" [disabled]="stuProfileSection5.valid == false"
                    class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-get-pocket"></i> submit
                  </button>
                </form>
              </div>
            </div>



          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-5" title="Post Graduation">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection6"
                  (ngSubmit)="saveSection6(stuProfileSection6.valid, stuProfileSection6.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>University/Board</th>
                        <th>Passing Year*</th>
                        <th>College Name</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="postGradBoard" appearance="none">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['postGradBoard'].invalid">
                            Required minimun 2 or maximum 30characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <mat-select formControlName="postGradPassYear">
                              <mat-option *ngIf="studentProfileObj.postGradQual.postGradPassYear"
                                [value]="studentProfileObj.postGradQual.postGradPassYear">
                                {{studentProfileObj.postGradQual.postGradPassYear}}</mat-option>
                              <mat-option *ngFor="let value of years" [value]="value">{{value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="postGradCollege">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['postGradCollege'].invalid">
                            Required minimun 2 or maximum 30characters</mat-error>
                        </td>
                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>College Location</th>
                        <th>Course Name</th>
                        <th>Course Specialization* </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="postGradLocation">
                          </mat-form-field>
                          <mat-error class="text-danger"
                            *ngIf="stuProfileSection6.controls['postGradLocation'].invalid">Required minimun 2 or
                            maximum 30characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="postGradCourseName">
                          </mat-form-field>
                          <mat-error class="text-danger"
                            *ngIf="stuProfileSection6.controls['postGradCourseName'].invalid">Required minimun 2 or
                            maximum 30characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="postGradSpecialization">
                          </mat-form-field>
                          <mat-error class="text-danger"
                            *ngIf="stuProfileSection6.controls['postGradSpecialization'].invalid">Required minimun 2 or
                            maximum 30characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th>Current Semester Percentage(%)</th>
                        <th>Semester 1</th>
                        <th>Semester 2</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="current">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['current'].invalid">Required
                            minimun 2 or maximum 7 digits</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['sem_1'].invalid">Required
                            minimun 2 or maximum 7 digits</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['sem_2'].invalid">Required
                            minimun 2 or maximum 7 digits</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th>Semester 3</th>
                        <th colspan="2">Semester 4</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['sem_3'].invalid">Required
                            minimun 2 or maximum 7 digits</mat-error>
                        </td>
                        <td colspan="2">
                          <mat-form-field>
                            <input matInput type="number" formControlName="sem_4">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['sem_4'].invalid">Required
                            minimun 2 or maximum 7 digits</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject1</th>
                        <th>Subject 2</th>
                        <th>Subject 3</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject1'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject2'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject3'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject4</th>
                        <th>Subject 5</th>
                        <th>Subject 6</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject4">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject4'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject5">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject5'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject6">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject6'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="3">Any Other Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan="3">
                        <mat-form-field>
                          <textarea matInput type="text" formControlName="anyOtherDetail"></textarea>
                        </mat-form-field>
                        <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['anyOtherDetail'].invalid">
                          Required minimun 2 or maximum 50 characters</mat-error>
                      </td>
                    </tbody>
                  </table>
                  <button type="saveSection6" [disabled]="stuProfileSection6.valid == false"
                    class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-get-pocket"></i> submit
                  </button>
                </form>
              </div>
            </div>

          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-6" title="Diploma">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection7"
                  (ngSubmit)="saveSection7(stuProfileSection7.valid, stuProfileSection7.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Board</th>
                        <th>Passing Year</th>
                        <th>College Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="diplomaBoard">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection7.controls['diplomaBoard'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                        <td>

                          <mat-form-field>
                            <mat-select formControlName="diplomaPassYear">
                              <mat-option *ngIf="studentProfileObj.diplomaQual.diplomaPassYear"
                                [value]="studentProfileObj.diplomaQual.diplomaPassYear">
                                {{studentProfileObj.diplomaQual.diplomaPassYear}}</mat-option>

                              <mat-option *ngFor="let value of years" [value]="value">{{value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="diplomaCollege">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection7.controls['diplomaCollege'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>College Location</th>
                        <th>Course Name</th>
                        <th>Course Specialization* </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="diplomaLocation">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection7.controls['diplomaLocation'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="diplomaCourseName">
                          </mat-form-field>
                          <mat-error class="text-danger"
                            *ngIf="stuProfileSection7.controls['diplomaCourseName'].invalid">Required minimun 2 or
                            maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="diplomaSpecialization">
                          </mat-form-field>
                          <mat-error class="text-danger"
                            *ngIf="stuProfileSection7.controls['diplomaSpecialization'].invalid">Required minimun 2 or
                            maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject1</th>
                        <th>Subject 2</th>
                        <th>Subject 3</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject1'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject2'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject3'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject4</th>
                        <th>Subject 5</th>
                        <th>Subject 6</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject4">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject4'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject5">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject5'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject6">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection6.controls['subject6'].invalid">
                            Required minimun 2 or maximum 20 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="3">Any Other Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan="3">
                        <mat-form-field>
                          <textarea matInput type="text" formControlName="anyOtherDetail"></textarea>
                        </mat-form-field>
                        <mat-error class="text-danger" *ngIf="stuProfileSection7.controls['anyOtherDetail'].invalid">
                          Required minimun 2 or maximum 50 characters</mat-error>
                      </td>
                    </tbody>
                  </table>
                  <button type="saveSection7" [disabled]="stuProfileSection7.valid == false"
                    class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-get-pocket"></i> submit
                  </button>
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-7" title="Additional Certificate">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection8"
                  (ngSubmit)="saveSection8(stuProfileSection8.valid, stuProfileSection8.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Board</th>
                        <th>Passing Year</th>
                        <th>Course Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="certBoard">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['certBoard'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                        <td>

                          <mat-form-field>
                            <mat-select formControlName="certPassYear">
                              <mat-option *ngIf="studentProfileObj.certQual.certPassYear"
                                [value]="studentProfileObj.certQual.certPassYear">
                                {{studentProfileObj.certQual.certPassYear}}</mat-option>
                              <mat-option *ngFor="let value of years" [value]="value">{{value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="certCourseName">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['certCourseName'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="2">Course Specialization</th>
                        <th>Aggregate Percentage(%)</th>
                        <!-- <th>Course Name</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td colspan="2">
                          <mat-form-field>
                            <input matInput type="text" formControlName="certSpecialization">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['certSpecialization'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="certGPA">
                          </mat-form-field>
                        </td>
                        <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['certGPA'].invalid">
                          Required minimun 2 or maximum 7 digits</mat-error>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject1</th>
                        <th>Subject 2</th>
                        <th>Subject 3</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject1">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['subject1'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject2">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['subject2'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject3">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['subject3'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>

                      </tr>

                    </tbody>
                    <thead>
                      <tr>
                        <th>Subject4</th>
                        <th>Subject 5</th>
                        <th>Subject 6</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject4">
                          </mat-form-field> 
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['subject4'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject5">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['subject5'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="subject6">
                          </mat-form-field>
                          <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['subject6'].invalid">
                            Required minimun 2 or maximum 30 characters</mat-error>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="3">Any Other Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan="3">
                        <mat-form-field>
                          <textarea matInput type="text" formControlName="anyOtherDetail"></textarea>
                        </mat-form-field>
                        <mat-error class="text-danger" *ngIf="stuProfileSection8.controls['anyOtherDetail'].invalid">
                          Required minimun 2 or maximum 50 characters</mat-error>
                      </td>
                    </tbody>
                  </table>
                  <button type="saveSection8" [disabled]="stuProfileSection8.valid == false"
                    class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-get-pocket"></i> submit
                  </button>
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-8" title="Competitive Score">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection8"
                  (ngSubmit)="saveSection8(stuProfileSection8.valid, stuProfileSection8.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Site Name</th>
                        <th>Score Ranking</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="siteName">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="scoreRanking">
                          </mat-form-field>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-9" title="Attendance Percentage(%)">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection8"
                  (ngSubmit)="saveSection8(stuProfileSection8.valid, stuProfileSection8.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Current Semester</th>
                        <th>Last Semester</th>
                        <th>Average Attendance(%)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="curSem">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="lastSem">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="average">
                          </mat-form-field>
                        </td>
                      </tr>
                    </tbody>

                  </table>
                  <!-- <button type="saveSection8"  class="btn btn-sm btn-success pull-right">
              <i class="fa fa-get-pocket"></i> submit
            </button> -->
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-panel>


        <ngb-panel id="toggle-10" title="Placement Elegibility">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection8"
                  (ngSubmit)="saveSection8(stuProfileSection8.valid, stuProfileSection8.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Status </th>
                        <th>No of Part In</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="Status">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="NoPartIn">
                          </mat-form-field>
                        </td>

                      </tr>
                    </tbody>

                  </table>
                  <!-- <button type="saveSection8"  class="btn btn-sm btn-success pull-right">
              <i class="fa fa-get-pocket"></i> submit
            </button> -->
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-panel>


        <ngb-panel id="toggle-11" title="Placed">
          <ng-template ngbPanelContent>
            <div class="card mb-3">

              <div class="card-body table-responsive">
                <form [formGroup]="stuProfileSection8"
                  (ngSubmit)="saveSection8(stuProfileSection8.valid, stuProfileSection8.value)" #reset="ngForm">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Company Name</th>
                        <th>Package </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <td>
                          <mat-form-field>
                            <input matInput type="text" formControlName="company">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" formControlName="package">
                          </mat-form-field>
                        </td>

                      </tr>
                    </tbody>

                  </table>
                  <!-- <button type="saveSection8"  class="btn btn-sm btn-success pull-right">
              <i class="fa fa-get-pocket"></i> submit
            </button> -->
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

      </ngb-accordion>


      <hr />
    </div>
  </div>
</div>