.container-fluid{
    // margin-left: 15%;
    margin-top: 6%;
    // margin-right:15%;
}
.mat-card{
    border: solid #c6cad1 1px;
    margin-top: 2%;
    margin-bottom:2%;
}
.btn{
    margin:10px;

}
label  {
    font-family: 'Inter var',sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333;
}
.form-control {
    font-family: 'Inter var',sans-serif;
    box-shadow: none;
    padding: 11px;
    background: #fff;
    color: #484848;
    border: 1px solid #DDD;
    border-radius: 0px;
    font-size: 14px;
    height: 40px;
    line-height: 1.14285714;
    font-weight: 100;
    text-transform:capitalize;


}
.radio-inline{
    margin:10px;
}

  mat-form-field {
    width: 100%;
    border-bottom: none;
    border:0px;
  }

  .mat-form-field-infix {
    border: 0px;
}
table th
{
    // text-align: center;
    align-items: center;
    font-family: 'Inter var',sans-serif;
    font-weight: 350;
    font-size: 1rem;
    color: #333;
}
.mat-input-element {
    font-weight: 100;
    text-transform:capitalize;
}
input.ng-invalid.ng-touched{
    border-color:red;
}
.mat-error{
    font-size:0.7rem;
}



// .example-card {
//     max-width: 400px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
// .container-fluid{
//     width:100%;
// }