
  <div class="col-md-12 mt-4 align-content-center text-center">
Are you sure to delete?
  </div>
  <div class="col-md-12">
    <div class="d-flex bd-highlight mb-3 mt-4">
      <div class="mr-auto p-2 bd-highlight"><button type="button" (click)="cancel()" class="btn btn-sm btn-secondary">Cancel</button></div>
      <div class="p-2 bd-highlight">
        <button  type="button" 
        class="btn btn-danger btn-sm" (click)="delete()"><i class="fa fa-trash"></i> &nbsp;Delete</button>

      </div>

    </div>

  </div>
