/* You can add global styles to this file, and also import other style files */

@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@media print {
    .breadcrumb {
        display: none !important;
    }
}

.mat-dialog-container {
    position: relative;
    // left: 20%;
    top: 0% !important;
    padding: 0% !important;
    border-radius: 0px !important;
    // z-index: 100000;
}

.btn-link {
    font-weight: 400;
    /* color: #007bff; */
    font-size: 0.9rem;
    padding: 0px;
    /* background-color: transparent; */
}