
  <div id="wrapper">
    <div id="header" class="header_container container-fluid">
      <div class="max-width-container">
        <div class='layer'></div>
        <div id="mySidenav" class="sidenav">
          <div class="ham_menu_items_container guest">
            <div class="ham_menu_items">
              <div class="ham_main_heading"><a href="#">Fresher Jobs</a></div>
            </div>
            <div class="ham_menu_items">
              <div class="ham_main_heading"><a href="#">Internships</a></div>
            </div>
            <hr class="ham_line_break" />
            <div class="ham_menu_items">
              <div class="ham_main_heading"><a href="#">Register - As a Student</a></div>
            </div>
            <div class="ham_menu_items">
              <div class="ham_main_heading"><a href="#">Register - As an Employer</a></div>
            </div>
            <div class="ham_menu_items without_link">
              <div class="ham_main_heading home_page_login_button" id="ham_login_button" data-toggle="modal"
                data-target="#login-modal">Start Here
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-md">
          <div class="brand_container">
            <img id="hamburger_menu_key" src="assets/img/hamburger-menu-key-new.svg">
            <span class="offer_hamburger_dot" id="offer_hamburger_dot"></span>
            <a class="navbar-brand" href="index.html">
            <img src="assets/img/T4U_Logo.png" atlt="logo">
            </a>
          </div>
          <div class="navbar_header_for_chat navbar_mobile" id="main-navbar-header">
            <div id="register-container">
              <div id="register-container-inner">
                <div class="btn-group" id="register">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Register
                  <i class="is_icon_header is-icon-arrow-filled-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="item">
                      <a href="" class="item_link" data-toggle="modal" data-target="#modalRegisterForm">As Student</a>
                    </li>
                    <li class="item">
                      <a href="#"  class="item_link" data-toggle="modal" data-target="#modalRegisterForm">As Employer</a>
                    </li>
                    <li class="item">
                      <a href="#"  class="item_link" data-toggle="modal" data-target="#modalRegisterForm">As College</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse navbar_desktop">
            <ul class="navbar-nav nav_menu_container">
			  <li class="nav-item"><a class="nav-link" href="#fresher_jobs">Fresher Jobs</a></li>
			  <li class="nav-item"><a class="nav-link" href="#internships">Internships</a></li>
              <li class="nav-item">
                <button type="button" class="btn btn-secondary home_page_login_button" data-toggle="modal" data-target="#login-modal">
                Start Here 
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-secondary home_page_login_button" data-toggle="modal" data-target="#login-modal">
                Exit Test
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-secondary home_page_login_button" data-toggle="modal" data-target="#login-modal">
                Login
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary home_page_login_button" 
                [routerLink]="['/dashboard']" [routerLinkActive]="['is-active']"
                data-toggle="modal" >
                  Let's Start
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div id="content">
      <div id="banners_container">
        <div id="banners" >
          <a href="#" class="banner home_internships-banner-container home_internships" >
            <div class="primary_text">Get an Internship. Get a job. Right here !</div>
            <div class="secondary_text d-block d-lg-none">Apply to 1000+ freshers job <br class="d-block d-sm-none"> for free</div>
            <div class="features_container d-none d-lg-block">
              <div class="feature">
                <img alt="✔" src="assets/img/check_box_dark.svg">
                Internships with stipend
              </div>
              <div class="feature">
                <img alt="✔" src="assets/img/check_box_dark.svg">
                Verified jobs
              </div>
              <div class="feature">
                <img alt="✔" src="assets/img/check_box_dark.svg">
                Apply free
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="internships" class="container-fluid section">
        <div id="fresher_jobs" class="container-fluid section">
          <div class="max-width-container">
            <h2>Fresher Jobs <span class="superscript">New</span></h2>
            <p class="section_description">
              Premium fresher jobs on your fingertips
              <a class="view_all_cta" href="#">
              View all jobs <!-- <i class="is-icon-arrow-right"></i> -->
              </a>
            </p>
            <div id="fresher_jobs_container">
              <div class="fresher_job_perk">
                <div class="img">
                  <img src="assets/img/ctc.svg" alt="">
                </div>
                <div class="name">Startup Jobs</div>
              </div>
              <div class="fresher_job_perk">
                <div class="img">
                  <img src="assets/img/dream.svg" alt="">
                </div>
                <div class="name">Dream companies</div>
              </div>
              <div class="fresher_job_perk">
                <div class="img">
                  <img src="assets/img/verified.svg" alt="">
                </div>
                <div class="name">100% verified jobs</div>
              </div>
            </div>

          </div>
        </div>
        <div class="max-width-container">
          <h2>Internships</h2>
          <p class="section_description">
            Apply to 1000 fresher jobs & internships for free
            <a class="view_all_cta" href="#">
            View all internships <!--<i class="is-icon-arrow-right"></i> -->
            </a>
          </p>
          <div class="categories_container">
            <h4>Popular cities</h4>
            <div class="categories scrollable_cards">

              <a class="internship_card card_item home_tile_city" href="#">
                <div class="img"><img alt="" src="assets/img/delhi_ncr.svg" /></div>
                <div class="text">Delhi/NCR</div>
              </a>
              <a class="internship_card card_item home_tile_city" href="#">
                <div class="img"><img alt="" src="assets/img/work_from_home.svg" /></div>
                <div class="text">Gurgaon</div>
              </a>			  
              <a class="internship_card card_item home_tile_city" href="#">
                <div class="img"><img alt="" src="assets/img/bangalore.svg" /></div>
                <div class="text">Bangalore</div>
              </a>
              <a class="internship_card card_item home_tile_city" href="#">
                <div class="img"><img alt="" src="assets/img/mumbai.svg" /></div>
                <div class="text">Mumbai</div>
              </a>
              <a class="internship_card card_item home_tile_city" href="#">
                <div class="img"><img alt="" src="assets/img/mumbai.svg" /></div>
                <div class="text">Pune</div>
              </a>			  
              <a class="internship_card card_item home_tile_city" href="#">
                <div class="img"><img alt="" src="assets/img/hyderabad.svg" /></div>
                <div class="text">Hyderabad</div>
              </a>
              <a class="internship_card card_item home_tile_city" href="#">
                <div class="img"><img alt="" src="assets/img/chennai.svg" /></div>
                <div class="text">Chennai</div>
              </a>


            </div>
          </div>
          <div class="categories_container">
            <h4>Popular categories</h4>
            <div class="categories scrollable_cards">

              <a class="internship_card card_item home_tile_category" href="">
                <div class="img"><img alt="" src="assets/img/engineering.svg" /></div>
                <div class="text">Engineering</div>
              </a>
              <a class="internship_card card_item home_tile_category" href="">
                <div class="img"><img alt="" src="assets/img/ngo.svg" /></div>
                <div class="text">MCA/BCA</div>
              </a>
              <a class="internship_card card_item home_tile_category" href="">
                <div class="img"><img alt="" src="assets/img/mba.svg" /></div>
                <div class="text">MBA/BBA</div>
              </a>
              <a class="internship_card card_item home_tile_category" href="#">
                <div class="img"><img alt="" src="assets/img/design.svg" /></div>
                <div class="text">Law</div>
              </a>
              <a class="internship_card card_item home_tile_category" href="#">
                <div class="img"><img alt="" src="assets/img/science.svg" /></div>
                <div class="text">Pharmacy</div>
              </a>
              <a class="internship_card card_item home_tile_category" href="#">
                <div class="img"><img alt="" src="assets/img/media.svg" /></div>
                <div class="text">Agriculture</div>
              </a>
              <a class="internship_card card_item home_tile_category" href="#">
                <div class="img"><img alt="" src="assets/img/humanities.svg" /></div>
                <div class="text">Diploma Jobs</div>
              </a>
              <a class="internship_card card_item home_tile_category" href="">
                <div class="img"><img alt="" src="assets/img/part_time.svg" /></div>
                <div class="text">Other Jobs</div>
              </a>			  
            </div>
          </div>
        </div>
      </div>
	  <!--
      <div id="trainings" class="container-fluid section">
        <div class="max-width-container">
          <h2>Trainings</h2>
          <p class="section_description">
            Learn new-age skills on the go
            <a class="view_all_cta" target="_blank" href="#">
            View all trainings<i class="is-icon-arrow-right"></i>
            </a>
          </p>
          <div id="trainings_container" class="scrollable_cards">
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/programming_with_python.svg" alt=">
              </div>
              <div class="text">
                Python Programming                        
              </div>
            </a>
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/digital_marketing.svg" alt=">
              </div>
              <div class="text">
                Digital Marketing                        
              </div>
            </a>
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/web_development.svg" alt=">
              </div>
              <div class="text">
                Web Development                        
              </div>
            </a>
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/machine_learning.svg" alt=">
              </div>
              <div class="text">
                Machine Learning                        
              </div>
            </a>
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/advanced_excel.svg" alt=">
              </div>
              <div class="text">
                Advanced Excel                        
              </div>
            </a>
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/ethical_hacking.svg" alt=">
              </div>
              <div class="text">
                Ethical Hacking                        
              </div>
            </a>
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/autocad.svg" alt=">
              </div>
              <div class="text">
                AutoCAD                        
              </div>
            </a>
            <a href="#" class="card_item" target="_blank">
              <div class="img">
                <img src="assets/img/creative_writing.svg" alt=">
              </div>
              <div class="text">
                Creative Writing                        
              </div>
            </a>
          </div>
        </div>
      </div>
	  -->


    </div>



<div id="footer" class="generic_footer">
    <div class='container-fluid'>
        <div class="max-width-container">
            <div class='footer_container'>
                <div class='footer-column d-none d-lg-block'>
                    <div class="footer-list">
                        <h5>Internships by places</h5>
                        <div class='footer-list-item'>
                            <a href ="">Internship in India</a>
                        </div>
                        <div class='footer-list-item'>
                            <a href ="">Internship in Delhi</a>
                        </div>
                        <div class='footer-list-item'>
                            <a href ="">Internship in Bangalore</a>
                        </div>
                        
                    </div>
                </div>
                <div class=' footer-column d-none d-lg-block' id='stream-container'>
                    <div class="footer-list">
                        <h5>Internship by Stream</h5>
                        <div class='footer-list-item'>
                            <a href ="#">Computer Science Internship</a>
                        </div>
                        <div class='footer-list-item'>
                            <a href ="#">Electronics Internship</a>
                        </div>
                        <div class='footer-list-item'>
                            <a href ="">Mechanical Internship</a>
                        </div>
                      
                    </div>
                </div>

                <div class=' footer-column d-none d-lg-block'  id='trainings-container'>
                    <div class="footer-list">
                        <h5>
                            <div id = "trainings-footer">
                                <a href="" target="_blank">Online Summer Trainings                                                                            <span class = "offer">CONTEST</span>
                                                                    </a>
                            </div>
                        </h5>
                                                    <div class='footer-list-item'>
                                <a href ="" target="_blank">Web Development</a>
                            </div>
                                                    <div class='footer-list-item'>
                                <a href ="" target="_blank">Android App Development</a>
                            </div>
                           
                          </div>
                </div>

                <div class=' footer-column d-none d-lg-block'  id='trainings-container'>
                    <div class="footer-list">
                        <h5>
                            <div id = "trainings-footer">
                                <a href="" target="_blank">About Us            
                                                                    </a>
                            </div>
                        </h5>
                          
                           
                          </div>
                </div>
            </div>
            <div id='footer-bottom'>
                <div id="social_media_container">
 
                    <a class="social_media_link_footer" href="#" target="_blank" ><img src="assets/img/twitter.png" alt=""></a>
                    <a class="social_media_link_footer" href="#" target="_blank"><img src="assets/img/linkedin.png" alt=""></a>
                </div>
                <div class='' id='copyright'>
                    All Rights Reserved
                </div>
                <div class="clear">
                </div>

                            </div>
        </div>
    </div>
</div>




    
  </div>

<!-- </html> -->