.home_internships {
    background-image: url('../img/home_internships-1920.png');
}

@media (max-width: 575px) {
    .home_internships {
        background-image: url('../img/home_internships-575.png');
    }
}

.home_internships-banner-container .primary_text {
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700;
    color: #212121;
}

.home_internships-banner-container .primary_text .offer {
    background: #ffae00;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 16px;
    margin-left: 12px;
    position: relative;
    bottom: 2px;
}

.home_internships-banner-container .secondary_text {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 600;
    color: #666;
}

.home_internships-banner-container .features_container {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #666;
}

.home_internships-banner-container .features_container .feature {
    display: flex;
    align-items: center;
    color: #484848;
}

.home_internships-banner-container .features_container .feature img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.home_internships-banner-container .features_container .feature+.feature {
    margin-top: 12px;
}

.home_internships-banner-container .cta_container {
    margin-top: auto;
}

.home_internships-banner-container .cta_container .link {
    text-decoration: none;
    color: #008bdc;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.home_internships-banner-container .cta_container .link:hover,
.home_internships-banner-container .cta_container .link:focus {
    color: #006bc2;
    text-decoration: none;
    outline: none;
}

.home_internships-banner-container .cta_container .link.focus-visible {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.home_internships-banner-container .cta_container .link:not([href]) {
    color: #008bdc;
}

.home_internships-banner-container .cta_container .link:not([href]):hover,
.home_internships-banner-container .cta_container .link:not([href]):focus {
    color: #006bc2;
    text-decoration: none;
    outline: none;
}

.home_internships-banner-container .cta_container .link:not([href]).focus-visible {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.home_internships-banner-container .cta_container .link [class^="is-icon-"],
.home_internships-banner-container .cta_container .link [class*=" is-icon-"] {
    vertical-align: middle;
}

@media (max-width: 991px) {
    .home_internships-banner-container .primary_text {
        font-size: 24px;
        line-height: 1.33;
        font-weight: 600;
    }
    .home_internships-banner-container .primary_text .offer {
        font-weight: 500;
        line-height: 1.2;
        font-size: 10px;
        padding: 2px 4px;
        margin-left: 8px;
    }
    .home_internships-banner-container .secondary_text {
        font-weight: 500;
        margin-top: 12px;
        font-size: 16px;
        line-height: 1.5;
        color: #484848;
    }
}

@media (max-width: 575px) {
    .home_internships-banner-container .primary_text {
        font-size: 18px;
    }
    .home_internships-banner-container .secondary_text {
        font-weight: 400;
        font-size: 14px;
        margin-top: 4px;
    }
    .home_internships-banner-container .cta_container .link {
        font-size: 14px;
    }
}

.trainings_mega_contest {
    background-image: url('../img/humanities.svg');
}

@media (max-width: 575px) {
    .trainings_mega_contest {
        background-image: url('../img/humanities.svg');
    }
}

.trainings_mega_contest-banner-container * {
    color: #fff;
}

.trainings_mega_contest-banner-container .primary_text {
    text-align: center;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
}

.trainings_mega_contest-banner-container .image {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.trainings_mega_contest-banner-container .image img {
    width: 100%;
    max-width: 500px;
}

.trainings_mega_contest-banner-container .timer {
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trainings_mega_contest-banner-container .timer .icon {
    margin-right: 4px;
}

.trainings_mega_contest-banner-container .cta_container {
    text-align: center;
    margin-top: auto;
}

.trainings_mega_contest-banner-container .cta_container .link {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

@media (max-width: 1023px) {
    .trainings_mega_contest-banner-container .primary_text {
        font-size: 32px;
    }
}

@media (max-width: 991px) {
    .trainings_mega_contest-banner-container .primary_text {
        font-size: 28px;
        line-height: 1.33;
    }
    .trainings_mega_contest-banner-container .image {
        margin-top: 18px;
    }
    .trainings_mega_contest-banner-container .timer {
        margin-top: 16px;
    }
}

@media (max-width: 767px) {
    .trainings_mega_contest-banner-container .primary_text {
        font-size: 19px;
    }
    .trainings_mega_contest-banner-container .image {
        margin-top: 8px;
    }
    .trainings_mega_contest-banner-container .image img {
        max-width: 272px;
    }
    .trainings_mega_contest-banner-container .timer {
        margin-top: 12px;
        font-size: 14px;
    }
    .trainings_mega_contest-banner-container .timer .icon {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .trainings_mega_contest-banner-container .primary_text {
        font-size: 14px;
        line-height: 1.57;
        font-weight: 600;
    }
    .trainings_mega_contest-banner-container .image {
        margin-top: 8px;
    }
    .trainings_mega_contest-banner-container .image img {
        max-width: 244px;
    }
    .trainings_mega_contest-banner-container .timer {
        margin-top: 12px;
        font-size: 12px;
        line-height: 1.5;
    }
    .trainings_mega_contest-banner-container .timer .icon {
        font-size: 16px;
    }
    .trainings_mega_contest-banner-container .cta_container .link {
        font-size: 14px;
        line-height: 1.14;
    }
}

.home_jobs {
    background-image: url('../img/humanities.svg');
}

@media (max-width: 575px) {
    .home_jobs {
        background-image: url('../img/humanities.svg');
    }
}

.home_jobs-banner-container .small_heading {
    margin-bottom: 8px;
}

.home_jobs-banner-container .primary_text {
    display: flex;
    align-items: center;
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}

.home_jobs-banner-container .primary_text .offer {
    background: #ffae00;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 8px;
    margin-left: 8px;
    line-height: 24px;
}

.home_jobs-banner-container .features_container {
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.home_jobs-banner-container .features_container .feature {
    display: flex;
    align-items: center;
}

.home_jobs-banner-container .features_container .feature img {
    width: 32px;
    height: 32px;
    margin-right: 4px;
}

.home_jobs-banner-container .features_container .feature+.feature {
    margin-top: 4px;
}

.home_jobs-banner-container .features_container .third {
    display: none;
}

.home_jobs-banner-container .cta_container {
    margin-top: auto;
}

.home_jobs-banner-container .cta_container .link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.home_jobs-banner-container .cta_container .link:hover,
.home_jobs-banner-container .cta_container .link:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.home_jobs-banner-container .cta_container .link.focus-visible {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.home_jobs-banner-container .cta_container .link:not([href]) {
    color: #fff;
}

.home_jobs-banner-container .cta_container .link:not([href]):hover,
.home_jobs-banner-container .cta_container .link:not([href]):focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.home_jobs-banner-container .cta_container .link:not([href]).focus-visible {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.home_jobs-banner-container .cta_container .link [class^="is-icon-"],
.home_jobs-banner-container .cta_container .link [class*=" is-icon-"] {
    vertical-align: middle;
}

@media (max-width: 1255px) {
    .home_jobs-banner-container .primary_text {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 12px;
    }
}

@media (max-width: 991px) {
    .home_jobs-banner-container .small_heading {
        font-size: 16px;
        line-height: 20px;
    }
    .home_jobs-banner-container .secondary_text {
        display: none;
    }
    .home_jobs-banner-container .features_container .second {
        display: none;
    }
    .home_jobs-banner-container .features_container .third {
        display: flex;
    }
    .home_jobs-banner-container .features_container {
        margin-top: 0px;
    }
    .home_jobs-banner-container .features_container .feature img {
        width: 24px;
        height: 24px;
    }
    .home_jobs-banner-container .features_container .feature+.feature {
        margin-top: 8px;
    }
}

@media (max-width: 767px) {
    .home_jobs-banner-container .small_heading {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
    }
    .home_jobs-banner-container .primary_text {
        margin-bottom: 8px;
    }
    .home_jobs-banner-container .primary_text .offer {
        padding: 2px 6px;
        font-size: 12px;
        line-height: 16px;
        margin-left: 4px;
    }
    .home_jobs-banner-container .features_container {
        font-size: 16px;
    }
    .home_jobs-banner-container .features_container .feature+.feature {
        margin-top: 4px;
    }
}

@media (max-width: 575px) {
    .home_jobs-banner-container .primary_text {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 6px;
    }
    .home_jobs-banner-container .primary_text .offer {
        padding: 1px 6px;
    }
    .home_jobs-banner-container .cta_container .link {
        font-size: 14px;
        line-height: 16px;
    }
    .home_jobs-banner-container .small_heading {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 2px;
    }
    .home_jobs-banner-container .features_container {
        font-size: 14px;
        line-height: 16px;
    }
    .home_jobs-banner-container .features_container .feature img {
        width: 20px;
        height: 20px;
    }
    .home_jobs-banner-container .features_container .feature+.feature {
        margin-top: 2px;
    }
}

@media (max-width: 360px) {
    .home_jobs-banner-container .features_container {
        font-size: 12px;
    }
}

.home_jobs-banner-container .small_heading,
.home_jobs-banner-container .primary_text,
.home_jobs-banner-container .secondary_text,
.home_jobs-banner-container .features_container .feature {
    color: #fff;
}

.isp_19_aug20 {
    background-image: url('../img/humanities.svg');
}

@media (max-width: 575px) {
    .isp_19_aug20 {
        background-image: url('../img/humanities.svg');
    }
}

.isp_19_aug20-banner-container .primary_text {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700;
}

.isp_19_aug20-banner-container .secondary_text {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 500;
    margin-top: 16px;
}

.isp_19_aug20-banner-container .timer {
    margin-top: 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.isp_19_aug20-banner-container .timer .icon {
    margin-right: 4px;
}

.isp_19_aug20-banner-container .cta_container {
    margin-top: auto;
}

.isp_19_aug20-banner-container .cta_container .link {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

@media (max-width: 991px) {
    .isp_19_aug20-banner-container .primary_text {
        font-size: 24px;
        line-height: 1.33;
        font-weight: 600;
    }
    .isp_19_aug20-banner-container .primary_text .offer {
        font-weight: 500;
        line-height: 1.2;
        font-size: 10px;
        padding: 2px 4px;
        margin-left: 8px;
    }
    .isp_19_aug20-banner-container .secondary_text {
        font-weight: 500;
        margin-top: 12px;
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (max-width: 575px) {
    .isp_19_aug20-banner-container .primary_text {
        font-size: 18px;
        line-height: 1.33;
    }
    .isp_19_aug20-banner-container .secondary_text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 8px;
    }
    .isp_19_aug20-banner-container .timer {
        margin-top: 8px;
        font-size: 12px;
        line-height: 1.5;
    }
    .isp_19_aug20-banner-container .timer .icon {
        font-size: 16px;
    }
    .isp_19_aug20-banner-container .cta_container .link {
        font-size: 14px;
    }
}

.isp_19_aug20-banner-container .timer {
    display: none;
}

.isp_19_aug20-banner-container .primary_text {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.33;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
    max-width: 548px;
}

.isp_19_aug20-banner-container .secondary_text {
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
}

@media (max-width: 992px) {
    .isp_19_aug20-banner-container .primary_text {
        font-size: 24px;
        padding-bottom: 12px;
        max-width: 369px;
    }
    .isp_19_aug20-banner-container .secondary_text {
        font-size: 14px;
        line-height: 1.43;
    }
}

@media (max-width: 662px) {
    .isp_19_aug20-banner-container .primary_text {
        font-size: 14px;
        line-height: 1.43;
        padding-bottom: 8px;
        max-width: 216px;
    }
    .isp_19_aug20-banner-container .secondary_text {
        font-size: 10px;
        line-height: 1.2;
        margin-top: 8px;
    }
}