<div class="container-fluid">
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header card-header-danger bg-primary">
          <h4 class="card-title text-white">LogIn</h4>

        </div>
        <div class="card-body">
          <form [formGroup]="stuRegisterForm" (ngSubmit)="save(stuRegisterForm.valid, stuRegisterForm.value)"
            #reset="ngForm">

            <div class="row">
              <div class="col-md-12">
                <label>Email  </label>
                <div class="form-group input-group">
                  <input type="email" class="form-control" placeholder="Email Address" formControlName="email"
                  [class.is-invalid] = "stuRegisterForm.get('email').invalid && stuRegisterForm.get('email').touched"
                  [class.is-valid] = "stuRegisterForm.get('email').valid">

                </div>
                <small
                  *ngIf="(stuRegisterForm.controls['email'].dirty || submitted) && stuRegisterForm.controls['email'].hasError('required')">
                  Email Address
                  is required.</small>
                  <small *ngIf="stuRegisterForm.controls['email'].hasError('pattern')" class="text-danger">Please provide a valid email address</small>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>Password</label>
                <div class="form-group input-group">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password"
                  [class.is-invalid] = "stuRegisterForm.get('password').invalid && stuRegisterForm.get('password').touched"
                  [class.is-valid] = "stuRegisterForm.get('password').valid">
                </div>
                <p
                  *ngIf="(stuRegisterForm.controls['password'].dirty || submitted) && stuRegisterForm.controls['password'].hasError('required')">
                  Password
                  is required.</p>
                  <small *ngIf="stuRegisterForm.controls['password'].hasError('minLength(8)')" class="text-danger">Please provide password atleast 8 character</small>

                <div class="form-group">

                  <div class="checkbox">
                    <label style="font-size: 0.9rem;">
                      <input type="checkbox" checked value=""> Remember me
                    </label>
                  </div>
                  <a [routerLink]="[]" [routerLinkActive]="['router-link-active']" (click)="forgotPassword()">
                    <span>Forgot Password?</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">

                <button type="save" [disabled]="stuRegisterForm.valid == false" class="btn btn-primary">LOGIN</button>

            </div>
          </form>
          <div class="row">
            <div class="col-md-12 text-center">
              <span>Not a member?
                <a [routerLink]="[]" (click)="registerNow()" [routerLinkActive]="['router-link-active']">
                  <span>Register Now</span></a>
              </span>
            </div>
          </div>
          <!-- <button mat-raised-button type="edit" (click)="edit()"
                          class="btn btn-primary pull-right">Edit</button> -->
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
</div>