.card-header, .btn-primary{
    background-image: linear-gradient(45deg, #21c573, transparent);
}

.card{
    // margin-left: 15%;
    margin-top: 5%;
    margin-bottom:5%;
}

.form-control {
    box-shadow: none;
    font-size: 14px;
}
p{
    color:red;
    font-size:0.8rem;
}
a{
    font-size:0.8rem;
    padding-top:0%;
}
.btn{
    width:100%;
    border:none;
    border-radius:0%;
}
span{
    font-size:0.8rem;


}
// .container-fluid{
//     width:500px;
//     padding:0px;
// }
