.main-content{
    margin-left: 15%;
    padding-top: 1%;
    margin-right:15%;
}
@media screen and (max-width: 992px) {
    .main-content {
    width:100%;
    margin-left:0%;
    }
  }

.btn{
    margin:10px;

}
.bg-primary{
    background-image: linear-gradient(45deg, #21c573, transparent);
}

.form-control {
    box-shadow: none;
    font-size: 14px;
}
p{
    color:red;
    font-size:0.8rem;
}
.custom{
    border:none;
}
input.ng-invalid.ng-touched{
    border-color:red;
}
// input.ng-valid{
//     border-color:green;
// }
