<app-header></app-header>
<h2> registration component</h2>
<div class="main-content">
  <div class="container-fluid"> 
    <div class="row">
      <div class="col-md-12">
        <ngb-alert [dismissible]="false" type="light" class="text-center" style="border:1px;">
          <h4 *ngIf="registerKey==1" ><u>Student Register</u></h4>
          <h4 *ngIf="registerKey==2" ><u>Company Register</u></h4>
        </ngb-alert>
      </div>
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger bg-primary text-white">
                      <h4 class="card-title">Registration</h4>

                  </div>
                  <div class="card-body">
                      <form [formGroup]="stuRegisterForm" (ngSubmit)="save(stuRegisterForm.valid, stuRegisterForm.value)" #reset="ngForm">
                          <div class="row">
                              <div class="col-md-4">
                                <label>First Name</label>
                                <div class="form-group input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">@</span>
                                  </div>
                                  <!-- <span class="input-group-addon">@</span> -->
                                  <input type="text" class="form-control" placeholder="First Name" formControlName="fName"
                                  [class.is-invalid] = "stuRegisterForm.get('fName').invalid && stuRegisterForm.get('fName').touched"
                                  [class.is-valid] = "stuRegisterForm.get('fName').valid">
                              </div>  
                              <small class="text-danger"  *ngIf="(stuRegisterForm.controls['fName'].dirty || submitted) && stuRegisterForm.controls['fName'].hasError('required')">*First Name
                                is required.</small>
                                <small class="text-danger" *ngIf="stuRegisterForm.controls['fName'].invalid && stuRegisterForm.get('fName').touched 
                                && stuRegisterForm.controls['fName'].hasError('required') == false">Name should be 4 character long</small>
                              </div>
                              <div class="col-md-4">
                                <label>Middle Name</label>
                                <div class="form-group input-group">

                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">@</span>
                                  </div>
                                  <!-- <span class="input-group-addon">@</span> -->
                                  <input type="text" class="form-control" placeholder="Middle Name" formControlName="mName"
                                  [class.is-invalid] = "stuRegisterForm.get('mName').invalid && stuRegisterForm.get('mName').touched"
                                  [class.is-valid] = "stuRegisterForm.get('mName').valid">
                              </div>
                              <small class="text-danger"  *ngIf="(stuRegisterForm.controls['mName'].dirty || submitted) && stuRegisterForm.controls['mName'].hasError('required')">*Middle Name
                                is required.</small>
                              <small class="text-danger" *ngIf="stuRegisterForm.controls['mName'].invalid && stuRegisterForm.get('mName').touched 
                              && stuRegisterForm.controls['mName'].hasError('required') == false">Middle name should be 4 character long</small>
                              </div>
                            
                              <div class="col-md-4">
                                <label>Last Name</label>
                                <div class="form-group input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">@</span>
                                  </div>
                                  <!-- <span class="input-group-addon">@</span> -->
                                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lName"
                                  [class.is-invalid] = "stuRegisterForm.get('lName').invalid && stuRegisterForm.get('lName').touched"
                                  [class.is-valid] = "stuRegisterForm.get('lName').valid">
                              </div>
                              <small class="text-danger"  *ngIf="(stuRegisterForm.controls['lName'].dirty || submitted) && stuRegisterForm.controls['lName'].hasError('required')">*Last Name
                                is required.</small>
                              <small class="text-danger" *ngIf="stuRegisterForm.controls['lName'].invalid && stuRegisterForm.get('lName').touched 
                              && stuRegisterForm.controls['lName'].hasError('required') == false">Last name should be 4 character long</small>
                              </div>
                          </div>
                          <div class="row" *ngIf="registerKey==2" >
                            <div class="col-md-6">
                              <label>Company Name</label>
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                                </div>
                                <!-- <span class="input-group-addon">@</span> -->
                                <input type="text" class="form-control" placeholder="Company Name" formControlName="companyName"
                                [class.is-invalid] = "stuRegisterForm.get('companyName').invalid && stuRegisterForm.get('companyName').touched"
                                [class.is-valid] = "stuRegisterForm.get('companyName').valid">
                            </div>  
                            <small class="text-danger"  *ngIf="(stuRegisterForm.controls['companyName'].dirty || submitted) && stuRegisterForm.controls['companyName'].hasError('required')">*First Name
                              is required.</small>
                              <small class="text-danger" *ngIf="stuRegisterForm.controls['companyName'].invalid && stuRegisterForm.get('companyName').touched 
                              && stuRegisterForm.controls['companyName'].hasError('required') == false">Name should be 4 character long</small>
                            </div>
                            <div class="col-md-6">
                              <label>Industry Type</label>
                              <div class="form-group input-group">

                                <div class="input-group-prepend">
                                    <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                                </div>
                                <!-- <span class="input-group-addon">@</span> -->
                                <input type="text" class="form-control" placeholder="Industry Type" formControlName="industryType"
                                [class.is-invalid] = "stuRegisterForm.get('industryType').invalid && stuRegisterForm.get('industryType').touched"
                                [class.is-valid] = "stuRegisterForm.get('industryType').valid">
                            </div>
                            <small class="text-danger"  *ngIf="(stuRegisterForm.controls['industryType'].dirty || submitted) && stuRegisterForm.controls['industryType'].hasError('required')">*Middle Name
                              is required.</small>
                            <small class="text-danger" *ngIf="stuRegisterForm.controls['industryType'].invalid && stuRegisterForm.get('industryType').touched 
                            && stuRegisterForm.controls['industryType'].hasError('required') == false">Middle name should be 4 character long</small>
                            </div>
                          
                         
   

                        </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <label>Email Address</label>
                                  <div class="form-group input-group">
                                  <input type="email" class="form-control" placeholder="john@example.com" formControlName="email"
                                  [class.is-invalid] = "stuRegisterForm.get('email').invalid && stuRegisterForm.get('email').touched"
                                  [class.is-valid] = "stuRegisterForm.get('email').valid">
                              </div>
                              <small class="text-danger"
                              *ngIf="(stuRegisterForm.controls['email'].dirty || submitted) && stuRegisterForm.controls['email'].hasError('required')">
                              *Email Address
                              is required.</small>
                              <small *ngIf="stuRegisterForm.controls['email'].hasError('pattern')" class="text-danger">Please provide a valid email address</small>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="col-md-12">
                                <label>Contact No.</label>
                                <div class="form-group input-group">
                                  <!-- <input type="text" class="form-control" placeholder="Enter Contact No." formControlName="mobile"> -->
                                  <ngx-intl-tel-input
                                  [inputId]="'adsasd'"
                                  [cssClass]="'custom'"  
                                  [preferredCountries]="preferredCountries"
                                  [enableAutoCountrySelect]="false" 
                                  [enablePlaceholder]="true" 
                                  [searchCountryFlag]="true"
                                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                  [selectFirstCountry]="false" 
                                  [selectedCountryISO]="CountryISO.India"
                                  [maxLength]="10" 
                                  [tooltipField]="TooltipLabel.Name" 
                                  [phoneValidation]="true" 
                                  [separateDialCode]="separateDialCode"
                                  name="mobile" formControlName="mobile" class="form-control">
                                </ngx-intl-tel-input>
                              </div>
                              <!-- <p  *ngIf="(stuRegisterForm.controls['mobile'].dirty || submitted) && stuRegisterForm.controls['mobile'].hasError('required')">Contact No.
                                is required.</p> -->
                              </div>
                            
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <label>Password</label>
                              <div class="form-group input-group">
                                <input type="password" class="form-control" placeholder="Password" formControlName="password"
                                [class.is-invalid] = "stuRegisterForm.get('password').invalid && stuRegisterForm.get('password').touched"
                                [class.is-valid] = "stuRegisterForm.get('password').valid">
                              </div>
                              <small class="text-danger"
                              *ngIf="(stuRegisterForm.controls['password'].dirty || submitted) && stuRegisterForm.controls['password'].hasError('required')">
                              *Password
                              is required.</small>
                              <small class="text-danger" *ngIf="stuRegisterForm.controls['password'].invalid && stuRegisterForm.get('password').touched 
                              && stuRegisterForm.controls['password'].hasError('required') == false">Password should be between 8-20 characters long</small>
                              <!-- <small class="text-danger" *ngIf="!matchPassword" 
                              >password validity</small> -->
                            </div>
                           
                        </div>
                        <div class="row">
                          <div class="col-md-12"> 
                            <label>Confirm Password</label>
                            <div class="form-group input-group">
                              <!-- <span class="input-group-addon">@</span> -->
                              <input type="password" class="form-control" placeholder="Re-enter your password" formControlName="cPassword"
                              [class.is-invalid] = "stuRegisterForm.get('cPassword').invalid && stuRegisterForm.get('cPassword').touched"
                              [class.is-valid] = "stuRegisterForm.get('cPassword').valid && matchPassword == true"
                              [class.is-invalid]="!matchPassword">
                          </div>
                          <small class="text-danger"
                          *ngIf="(stuRegisterForm.controls['cPassword'].dirty || submitted) && stuRegisterForm.controls['cPassword'].hasError('required')">
                          *Confirm Password
                          is required.</small>
                          <small class="text-danger" *ngIf="stuRegisterForm.controls['cPassword'].invalid && stuRegisterForm.get('cPassword').touched && matchPassword ==true
                          && stuRegisterForm.controls['cPassword'].hasError('required') == false">Password should be between 8-20 characters long</small>
                          <small class="text-danger" *ngIf="!matchPassword && !stuRegisterForm.controls['cPassword'].hasError('required')" 
                         >Password mismatched</small>
                          </div>
                       
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          
                        </div>
                      </div>
                      <button  type="save" [disabled]="stuRegisterForm.valid == false"
                      class="btn btn-success btn-sm pull-right"><i class="fa fa-get-pocket"></i>Create</button>
                     </form>
                      <button  type="ngForm" 
                      class="btn btn-warning btn-sm pull-right text-white" (click)="resetForm()"><i class="fa fa-refresh"></i>Reset</button>
                      <div class="clearfix"></div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
