
<app-header></app-header>

<!-- <app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar> -->
<router-outlet></router-outlet>
<!-- <section class="main-container" [ngClass]="{collapsed: collapedSideBar}"> -->
    <!-- <router-outlet></router-outlet> -->
<!-- </section> -->
