<div class="container-fluid">
  <!-- <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
  <div class="row">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <!-- <h4 class="card-title text-white">LogIn</h4> -->
          <div class="row d-flex justify-content-center">
            Please enter secret key to verify your account
          </div>
        </div>
        <div class="card-body">
        
          <form [formGroup]="stuRegisterForm" (ngSubmit)="save(stuRegisterForm.valid, stuRegisterForm.value)"
            #reset="ngForm">

            <div class="row">
              <div class="col-md-12">
                <!-- <label>Email  </label> -->
                <div class="form-group input-group">
                  <input type="text" class="form-control" formControlName="secretKey">
                </div>
                <p
                  *ngIf="(stuRegisterForm.controls['secretKey'].dirty || submitted) && stuRegisterForm.controls['secretKey'].hasError('required')">
                  Email Address
                  is required.</p>
              </div>
            </div>

       
            <div class="row d-flex justify-content-center">
                <button type="save"  class="btn btn-danger" [disabled]="stuRegisterForm.valid == false"
                >Validate</button>

            </div>
          </form>
          <div class="row">
            <div class="col-md-12 text-center">
              <span>If mail not received:
                <a [routerLink]="[]" (click)="resendMail()" [routerLinkActive]="['router-link-active']">
                  <span>Resend</span></a>
              </span>
            </div>
          </div>
          <!-- <button mat-raised-button type="edit" (click)="edit()"
                          class="btn btn-primary pull-right">Edit</button> -->
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
</div>