
<app-header></app-header>
<h3 class="text-muted">Dashboard <small>Statistics Overview</small></h3>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <button type="submit" (click)="companyPosition()" class="btn btn-sm btn-warning text-white">
      <i class="fa fa-dot-circle-o"></i> Open Positions
    </button>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <form [formGroup]="companyProfileForm" (ngSubmit)="save(companyProfileForm.valid, companyProfileForm.value)"
        #reset="ngForm">
        <div class="row">
          <div class="col-md-4">
            <label>First Name</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" class="form-control" placeholder="First Name" formControlName="fName"
              [class.is-invalid] = "companyProfileForm.get('fName').invalid && companyProfileForm.get('fName').touched || companyProfileForm.get('fName').status == 'INVALID' "
              [class.is-valid] = "companyProfileForm.get('fName').valid">
  
            </div>
            <small class="text-danger"
              *ngIf="(companyProfileForm.controls['fName'].dirty || submitted) && companyProfileForm.controls['fName'].hasError('required')">
              First Name
              is required.</small>
            <small class="text-danger" *ngIf="companyProfileForm.controls['fName'].invalid && companyProfileForm.get('fName').touched 
             && companyProfileForm.controls['fName'].hasError('required') == false">Name should be 4 character long</small>
          </div>
          <div class="col-md-4">
            <label>Middle Name</label>
            <div class="form-group input-group">
  
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              
              <input type="text" class="form-control" placeholder="Middle Name" formControlName="mName" 
               [class.is-invalid] = "companyProfileForm.get('mName').invalid && companyProfileForm.get('mName').touched  || companyProfileForm.get('mName').status == 'INVALID' "
              [class.is-valid] = "companyProfileForm.get('mName').valid">
            </div>
            <small class="text-danger"
            *ngIf="(companyProfileForm.controls['mName'].dirty || submitted) && companyProfileForm.controls['mName'].hasError('required')">
            Middlename
            is required.</small>
          <small class="text-danger" *ngIf="companyProfileForm.controls['mName'].invalid && companyProfileForm.get('mName').touched 
           && companyProfileForm.controls['mName'].hasError('required') == false">Middlename required minimum 4 characters</small>
          </div>
  
          <div class="col-md-4">
            <label>Last Name</label>
            <div class="form-group input-group">
  
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              
              <input type="text" class="form-control" placeholder="Last Name" formControlName="lName" 
               [class.is-invalid] = "companyProfileForm.get('lName').invalid && companyProfileForm.get('lName').touched"
              [class.is-valid] = "companyProfileForm.get('lName').valid">
            </div>
            <small class="text-danger"
            *ngIf="(companyProfileForm.controls['lName'].dirty || submitted) && companyProfileForm.controls['lName'].hasError('required')">
            Last Name
            is required.</small>
          <small class="text-danger" *ngIf="companyProfileForm.controls['lName'].invalid && companyProfileForm.get('lName').touched 
           && companyProfileForm.controls['lName'].hasError('required') == false">Lastname should be 4 character long</small>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Email Address</label>
            <div class="form-group input-group">
              <input type="email" class="form-control" placeholder="john@example.com"  formControlName="email">
            </div>
          </div>
          <div class="col-md-6">
            <label>Official Email Address</label>
            <div class="form-group input-group">
              <input type="email" class="form-control" placeholder="john@example.com"  formControlName="officialMail">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Company Name</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Enter Your Company Name" formControlName="companyName" 
              [class.is-invalid] = "companyProfileForm.get('companyName').invalid && companyProfileForm.get('companyName').touched || companyProfileForm.get('companyName').status == 'INVALID' "
              [class.is-valid] = "companyProfileForm.get('companyName').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['companyName'].invalid && companyProfileForm.get('companyName').touched 
            && companyProfileForm.controls['companyName'].hasError('required') == false">Not allowed 20 character as input</small>
          </div>
          <div class="col-md-6">
            <label>Industry Type</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Enter Industry Type" formControlName="industryType"
              [class.is-invalid] = "companyProfileForm.get('industryType').invalid && companyProfileForm.get('industryType').touched || companyProfileForm.get('industryType').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('industryType').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['industryType'].invalid && companyProfileForm.get('industryType').value == true 
            && companyProfileForm.controls['industryType'].hasError('required') == false">Not allowed 20 character as input</small>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Employee Count</label>
            <div class="form-group input-group">
              <input type="number" class="form-control" placeholder="Enter Employee Count" formControlName="employeeCount" 
              [class.is-invalid] = "companyProfileForm.get('employeeCount').invalid && companyProfileForm.get('employeeCount').touched || companyProfileForm.get('employeeCount').status == 'INVALID' "
              [class.is-valid] = "companyProfileForm.get('employeeCount').valid">
            </div>
          </div>
          <div class="col-md-6">
            <label>Established Year</label>
            <div class="form-group input-group">
              <select class="form-control" type="number" formControlName="establishedYear" placeholder="Enter Established Year">
                <option *ngFor="let year of years" >{{year}}</option>
            </select>
              <!-- <input type="text" class="form-control" placeholder="Enter Company Established Year" formControlName="establishedYear"
              [class.is-invalid] = "companyProfileForm.get('establishedYear').invalid && companyProfileForm.get('establishedYear').touched || companyProfileForm.get('establishedYear').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('establishedYear').valid"> -->
            </div>
            <!-- <small class="text-danger" *ngIf="companyProfileForm.controls['industryType'].invalid && companyProfileForm.get('industryType').value == true 
            && companyProfileForm.controls['industryType'].hasError('required') == false">Not allowed 20 character as input</small> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Address 1</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="Address 1" formControlName="cAddr_1"
              [class.is-invalid] = "companyProfileForm.get('cAddr_1').invalid && companyProfileForm.get('cAddr_1').touched || companyProfileForm.get('cAddr_1').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('cAddr_1').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['cAddr_1'].invalid && companyProfileForm.get('cAddr_1').touched 
            && companyProfileForm.controls['cAddr_1'].hasError('required') == false">Address should be between 6-30 characters</small>
          </div>
          <div class="col-md-6">
            <label>Address 2</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="Address 2" formControlName="cAddr_2"
              [class.is-invalid] = "companyProfileForm.get('cAddr_2').invalid && companyProfileForm.get('cAddr_2').touched || companyProfileForm.get('cAddr_2').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('cAddr_2').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['cAddr_2'].invalid && companyProfileForm.get('cAddr_2').touched 
            && companyProfileForm.controls['cAddr_2'].hasError('required') == false">Address should be between 6-30 characters</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Country</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="Country Name" formControlName="cCountry"
              [class.is-invalid] = "companyProfileForm.get('cCountry').invalid && companyProfileForm.get('cCountry').touched || companyProfileForm.get('cCountry').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('cCountry').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['cCountry'].invalid && companyProfileForm.get('cCountry').touched 
            && companyProfileForm.controls['cCountry'].hasError('required') == false">Country name should be between 2-10 characters</small>
          </div>
          <div class="col-md-6">
            <label>State</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="State Name" formControlName="cState"
              [class.is-invalid] = "companyProfileForm.get('cState').invalid && companyProfileForm.get('cState').touched || companyProfileForm.get('cState').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('cState').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['cState'].invalid && companyProfileForm.get('cState').touched 
            && companyProfileForm.controls['cState'].hasError('required') == false">State name should be between 2-20 characters</small>
          </div>
          <div class="col-md-6">
            <label>City Name</label>
            <div class="form-group input-group">
              
              <input type="text" class="form-control" placeholder="City Name" formControlName="cCity"
              [class.is-invalid] = "companyProfileForm.get('cCity').invalid && companyProfileForm.get('cCity').touched || companyProfileForm.get('cCity').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('cCity').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['cCity'].invalid && companyProfileForm.get('cCity').touched 
            && companyProfileForm.controls['cCity'].hasError('required') == false">City name should be between 2-20 characters</small>
          </div>
  
          <div class="col-md-6">
            <label>Zip Code*</label>
            <div class="form-group input-group">
           
              
              <input type="number" class="form-control" placeholder="e.g. 000012" formControlName="cZip"
              [class.is-invalid] = "companyProfileForm.get('cZip').invalid && companyProfileForm.get('cZip').touched || companyProfileForm.get('cZip').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('cZip').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['cZip'].invalid && companyProfileForm.get('cZip').touched 
            && companyProfileForm.controls['cZip'].hasError('required') == false">cZip should be between 6-10 characters</small>
          </div>
        
        </div>
     
        <div class="row">
          <div class="col-md-6">
            <label>Contact No 1</label>
            <div class="form-group input-group">
              <!-- <input type="text" class="form-control" placeholder="Enter Contact No." formControlName="mobile"> -->
              <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'custom'"
                [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="10"
                [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                name="mobile" formControlName="mobile" class="form-control">
              </ngx-intl-tel-input>
            </div>
            <!-- <p  *ngIf="(companyProfileForm.controls['mobile'].dirty || submitted) && companyProfileForm.controls['mobile'].hasError('required')">Contact No.
                          is required.</p> -->
          </div>
          <div class="col-md-6">
            <label>Contact No 2</label>
            <div class="form-group input-group">
              <!-- <input type="text" class="form-control" placeholder="Enter Contact No." formControlName="mobile"> -->
              <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'custom'"
                [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="10"
                [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                name="mobile" formControlName="mobile2" class="form-control">
              </ngx-intl-tel-input>
            </div>
            <!-- <p  *ngIf="(companyProfileForm.controls['mobile'].dirty || submitted) && companyProfileForm.controls['mobile'].hasError('required')">Contact No.
                          is required.</p> -->
                          
                          <!-- <button type="save" [disabled]="companyProfileForm.valid == false" class="btn btn-sm btn-success pull-right">
                            <i class="fa fa-get-pocket"></i> submit
                          </button> -->
                        <!-- <button type="save" class="btn btn-warning pull-right">Reset</button> -->
          </div>
  
        </div> 

        <div class="row">
          <div class="col-md-6">
            <label>Sales Representative</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Name of the concerned Sale Respresentative" formControlName="salesRep" 
              [class.is-invalid] = "companyProfileForm.get('salesRep').invalid && companyProfileForm.get('salesRep').touched || companyProfileForm.get('salesRep').status == 'INVALID' "
              [class.is-valid] = "companyProfileForm.get('salesRep').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['salesRep'].invalid && companyProfileForm.get('salesRep').touched 
            && companyProfileForm.controls['salesRep'].hasError('required') == false">Not allowed 20 character as input</small>
          </div>
          <div class="col-md-6">
            <label>Acct Manager</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Name of the concerned Account Manager" formControlName="acctMgr"
              [class.is-invalid] = "companyProfileForm.get('acctMgr').invalid && companyProfileForm.get('acctMgr').touched || companyProfileForm.get('acctMgr').status == 'INVALID'"
              [class.is-valid] = "companyProfileForm.get('acctMgr').valid">
            </div>
            <small class="text-danger" *ngIf="companyProfileForm.controls['acctMgr'].invalid && companyProfileForm.get('acctMgr').value == true 
            && companyProfileForm.controls['acctMgr'].hasError('required') == false">Not allowed 20 character as input</small>
            <button type="save" [disabled]="companyProfileForm.valid == false" class="btn btn-sm btn-success pull-right">
              <i class="fa fa-get-pocket"></i> submit
            </button>
          </div>
        
        </div>


      </form>
         
      </mat-card>
      </div>
      </div>
      </div>
      