<div class="container-fluid">
  <!-- <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
  <div class="row">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <!-- <h4 class="card-title text-white">LogIn</h4> -->
          <div class="row d-flex justify-content-center" style="font-weight:bolder;">
            Reset Your Password
          </div>
        </div>
        <div class="card-body">
        
          <form [formGroup]="stuRegisterForm" (ngSubmit)="save(stuRegisterForm.valid, stuRegisterForm.value)"
            #reset="ngForm">

            <div class="row">
              <div class="col-md-12">
                <label>New Password </label>
                <div class="form-group input-group">
                  <input type="password" class="form-control" formControlName="password" autocomplete="off">
                </div>
                <!-- <p
                  *ngIf="(stuRegisterForm.controls['password'].dirty || submitted) && stuRegisterForm.controls['password'].hasError('required')">
                  Email Address
                  is required.</p> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Confirm Password  </label>
                <div class="form-group input-group">
                  <input type="password" class="form-control" formControlName="cPassword" autocomplete="off">
                </div>
                <!-- <p
                  *ngIf="(stuRegisterForm.controls['cPassword'].dirty || submitted) && stuRegisterForm.controls['cPassword'].hasError('required')">
                  Email Address
                  is required.</p> -->
              </div>
            </div>
       
            <div class="row d-flex justify-content-center">
              <!-- [disabled]="stuRegisterForm.valid == false" -->
                <button type="save" [disabled]="stuRegisterForm.valid == false" class="btn btn-primary"cc>RESET</button>

            </div>
          </form>
          <!-- <div class="row">
            <div class="col-md-12 text-center">
              <span>Not a member?
                <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']">
                  <span>Register Now</span></a>
              </span>
            </div>
          </div> -->
          <!-- <button mat-raised-button type="edit" (click)="edit()"
                          class="btn btn-primary pull-right">Edit</button> -->
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
</div>